In [2]:
pip install requests beautifulsoup4

Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.12/site-packages (4.12.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2025.4.26)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

In [31]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# http://books.toscrape.com/catalogue/page-1.html
url = 'http://books.toscrape.com/catalogue/page-1.html'

In [25]:
# Send GET request
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [35]:
# Find all books
books = soup.find_all('article', class_='product_pod')

In [79]:
# Extract book data where we need to specifc the HTML tags to scrape and parse the data so that it is stored in 
#dictionary format under list datastructure in mysql workbench #
#Create empty list to store the output data from scrapping website#

book_data = []  # empty list to store scraped book details

for book in books:
    title = book.h3.a['title']  # extract book title
    price = float(book.find('p', class_='price_color').text[2:])  # remove '£' and convert to float
    stock_text = book.find('p', class_='instock availability').text.strip()
    stock = 1 if 'In stock' in stock_text else 0  # binary flag: 1 = available, 0 = out of stock

    book_data.append({
        'title': title,
        'price': price,
        'stock': stock
    })

# HTML Data View #

#<article class="product_pod">
#  <h3><a title="A Light in the Attic"></a></h3>
#  <p class="price_color">£51.77</p>
#  <p class="instock availability">
#      In stock
#  </p>
# </article>

In [81]:
# Convert list of dicts to DataFrame
df = pd.DataFrame(book_data)
print(df.head())

                                   title  price  stock
0                   A Light in the Attic   1.77      1
1                     Tipping the Velvet   3.74      1
2                             Soumission   0.10      1
3                          Sharp Objects   7.82      1
4  Sapiens: A Brief History of Humankind   4.23      1

In [83]:
#create a conn string between Jupyter and mysql workbench to load the scraped data and store in target mysql db#

from sqlalchemy import create_engine

#Define mysql string
engine = create_engine("mysql+pymysql://root:sol20256@localhost:3306/books_scrapedata")

# Push data to MySQL table with new table inside the existing dataabses #
df.to_sql(name='books_info', con=engine, if_exists='replace', index=False)

20

In [85]:
df

                                                title  price  stock
0                                A Light in the Attic   1.77      1
1                                  Tipping the Velvet   3.74      1
2                                          Soumission   0.10      1
3                                       Sharp Objects   7.82      1
4               Sapiens: A Brief History of Humankind   4.23      1
5                                     The Requiem Red   2.65      1
6   The Dirty Little Secrets of Getting Your Dream...   3.34      1
7   The Coming Woman: A Novel Based on the Life of...   7.93      1
8   The Boys in the Boat: Nine Americans and Their...   2.60      1
9                                     The Black Maria   2.15      1
10     Starving Hearts (Triangular Trade Trilogy, #1)   3.99      1
11                              Shakespeare's Sonnets   0.66      1
12                                        Set Me Free   7.46      1
13  Scott Pilgrim's Precious Little Life (Scott Pi...   2.29      1
14                          Rip it Up and Start Again   5.02      1
15  Our Band Could Be Your Life: Scenes from the A...   7.25      1
16                                               Olio   3.88      1
17  Mesaerion: The Best Science Fiction Stories 18...   7.59      1
18                       Libertarianism for Beginners   1.33      1
19                            It's Only the Himalayas   5.17      1

In [75]:
# Load the SQL extension magic command to execute sql queries in Jupyter notebooks
%load_ext sql
# Connect to MySQL
%sql mysql+pymysql://root:sol20256@localhost:3306/books_scrapedata

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [77]:
%%sql 
SELECT * FROM books_info LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/books_scrapedata
10 rows affected.

[('A Light in the Attic', 1.77, 1),
 ('Tipping the Velvet', 3.74, 1),
 ('Soumission', 0.1, 1),
 ('Sharp Objects', 7.82, 1),
 ('Sapiens: A Brief History of Humankind', 4.23, 1),
 ('The Requiem Red', 2.65, 1),
 ('The Dirty Little Secrets of Getting Your Dream Job', 3.34, 1),
 ('The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull', 7.93, 1),
 ('The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', 2.6, 1),
 ('The Black Maria', 2.15, 1)]

In [87]:
engine.dispose()