# MySQL/MariaDB Connection and Querying

## Project Overview
This notebook demonstrates how to connect to a MySQL or MariaDB database using Python, perform DDL (Data Definition Language) and DML (Data Manipulation Language) operations, and execute SQL queries directly within the notebook using IPython SQL magic.

## Tech Stack
- **Database**: MySQL or MariaDB
- **Python Libraries**:
    - `mysql-connector-python`: Official Oracle driver for MySQL.
    - `sqlalchemy`: SQL Toolkit and Object Relational Mapper.
    - `ipython-sql`: Jupyter extension for writing SQL queries directly in cells.

## Prerequisites
- A running MySQL or MariaDB instance (local or remote).
- Database credentials (host, user, password, database name).

---

In [ ]:
# Install required packages (run once)
!pip install -q mysql-connector-python sqlalchemy ipython-sql

## Configuration
Securely load database credentials from environment variables.

In [ ]:
import os
import mysql.connector
from sqlalchemy import create_engine

# Load credentials from environment variables
DB_HOST = os.getenv("DB_HOST", "localhost")
DB_USER = os.getenv("DB_USER", "root")
DB_PASS = os.getenv("DB_PASS", "password")
DB_NAME = os.getenv("DB_NAME", "test_db")
DB_PORT = os.getenv("DB_PORT", "3306")

print(f"Configured to connect to {DB_NAME} at {DB_HOST}:{DB_PORT}")

## Method 1: Using `mysql-connector-python`
This is the standard way to interact with MySQL using Python code.

In [ ]:
try:
    # Establish connection
    conn = mysql.connector.connect(
        host=DB_HOST,
        user=DB_USER,
        password=DB_PASS,
        database=DB_NAME,
        port=DB_PORT
    )
    cursor = conn.cursor()
    print("Connection established successfully.")

    # 1. Create Table
    cursor.execute("DROP TABLE IF EXISTS employees")
    create_table_query = """
    CREATE TABLE employees (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100),
        department VARCHAR(50),
        salary DECIMAL(10, 2)
    )
    """
    cursor.execute(create_table_query)
    print("Table 'employees' created.")

    # 2. Insert Data
    insert_query = "INSERT INTO employees (name, department, salary) VALUES (%s, %s, %s)"
    data = [
        ("Alice Johnson", "Engineering", 85000.00),
        ("Bob Smith", "Marketing", 62000.50),
        ("Charlie Brown", "Engineering", 90000.00),
        ("Diana Prince", "HR", 75000.00)
    ]
    cursor.executemany(insert_query, data)
    conn.commit()
    print(f"{cursor.rowcount} rows inserted.")

    # 3. Query Data
    cursor.execute("SELECT * FROM employees WHERE department = 'Engineering'")
    results = cursor.fetchall()
    
    print("\n--- Engineering Department ---")
    for row in results:
        print(row)

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()
        print("Connection closed.")

## Method 2: Using IPython SQL Magic (`%sql`)
This allows you to write SQL queries directly in Jupyter cells, which is great for data exploration.

In [ ]:
%load_ext sql

# Construct connection string (SQLAlchemy format)
# Format: mysql+mysqlconnector://user:password@host:port/database
connection_string = f"mysql+mysqlconnector://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

%sql $connection_string

In [ ]:
%%sql
-- Select all employees ordered by salary descending
SELECT * FROM employees ORDER BY salary DESC;

In [ ]:
%%sql
-- Calculate average salary per department
SELECT department, AVG(salary) as avg_salary, COUNT(*) as emp_count
FROM employees
GROUP BY department;

## Conclusion
We successfully demonstrated two methods to interact with MySQL/MariaDB:
1.  **Pythonic Way**: Using `mysql-connector-python` for building applications and pipelines.
2.  **Interactive Way**: Using `%sql` magic for quick analysis and reporting within Jupyter.