In [2]:
pip install mysql-connector # Installing mysql library to connect to maria DB #

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 304.9 kB/s eta 0:00:0000:0100:02
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp312-cp312-macosx_11_0_arm64.whl size=247957 sha256=192016cedfd69ea9c60dfb556784fbd251b5b87eb157e56ff9fbea30f9397ecc
  Stored in directory: /Users/akbarbasha/Library/Caches/pip/wheels/03/17/fa/d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector # importing mysql library to establish connection with databases #
conn=mysql.connector.connect(host="localhost",user="root",password=8856,database="sampledata")

TypeError: argument 3 must be str or None, not int

In [4]:
pip install mysqlclient

Collecting mysqlclient
  Using cached mysqlclient-2.2.7.tar.gz (91 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [33 lines of output]
      /bin/sh: pkg-config: command not found
      /bin/sh: pkg-config: command not found
      /bin/sh: pkg-config: command not found
      /bin/sh: pkg-config: command not found
      Trying pkg-config --exists mysqlclient
      Command 'pkg-config --exists mysqlclient' returned non-zero exit status 127.
      Trying pkg-config --exists mariadb
      Command 'pkg-config --exists mariadb' returned non-zero exit status 127.
      Trying pkg-config --exists libmariadb
      Command 'pkg-config --exists libmariadb' returned non-zero exit status 127.
      Trying pkg-config --exists perconaserverclient
      Command 'pkg-config --exists perconaserverclient' returned non-zero exit status 127.
      Traceback (most recent call last):
        File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/pyproject_hooks/_in_process/_in_process.py", line 353, in <module>
          main()
        File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/pyproject_hooks/_in_process/_in_process.py", line 335, in main
          json_out['return_val'] = hook(**hook_input['kwargs'])
                                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/pyproject_hooks/_in_process/_in_process.py", line 118, in get_requires_for_build_wheel
          return hook(config_settings)
                 ^^^^^^^^^^^^^^^^^^^^^
        File "/private/var/folders/yy/jzmchqqs55sgwpnh4s1s1yn00000gn/T/pip-build-env-qd1kwent/overlay/lib/python3.12/site-packages/setuptools/build_meta.py", line 331, in get_requires_for_build_wheel
          return self._get_build_requires(config_settings, requirements=[])
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "/private/var/folders/yy/jzmchqqs55sgwpnh4s1s1yn00000gn/T/pip-build-env-qd1kwent/overlay/lib/python3.12/site-packages/setuptools/build_meta.py", line 301, in _get_build_requires
          self.run_setup()
        File "/private/var/folders/yy/jzmchqqs55sgwpnh4s1s1yn00000gn/T/pip-build-env-qd1kwent/overlay/lib/python3.12/site-packages/setuptools/build_meta.py", line 317, in run_setup
          exec(code, locals())
        File "<string>", line 156, in <module>
        File "<string>", line 49, in get_config_posix
        File "<string>", line 28, in find_package_name
      Exception: Can not find valid pkg-config name.
      Specify MYSQLCLIENT_CFLAGS and MYSQLCLIENT_LDFLAGS env vars manually
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.
Note: you may need to restart the kernel to use updated packages.

In [23]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install --upgrade mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp312-cp312-macosx_14_0_arm64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.3.0-cp312-cp312-macosx_14_0_arm64.whl (15.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━╺━━━━━━━━━━━━━━━━━━ 8.1/15.2 MB 298.0 kB/s eta 0:00:24
ERROR: Exception:
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/urllib3/response.py", line 438, in _error_catcher
    yield
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/urllib3/response.py", line 561, in read
    data = self._fp_read(amt) if not fp_closed else b""
           ^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/urllib3/response.py", line 527, in _fp_read
    return self._fp.read(amt) if amt is not None else self._fp.read()
           ^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/cachecontrol/filewrapper.py", line 98, in read
    data: bytes = self.__fp.read(amt)
                  ^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/http/client.py", line 479, in read
    s = self.fp.read(amt)
        ^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/socket.py", line 720, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/ssl.py", line 1251, in recv_into
    return self.read(nbytes, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/ssl.py", line 1103, in read
    return self._sslobj.read(len, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TimeoutError: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/cli/base_command.py", line 105, in _run_wrapper
    status = _inner_run()
             ^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/cli/base_command.py", line 96, in _inner_run
    return self.run(options, args)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/cli/req_command.py", line 67, in wrapper
    return func(self, options, args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/commands/install.py", line 379, in run
    requirement_set = resolver.resolve(
                      ^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/resolution/resolvelib/resolver.py", line 179, in resolve
    self.factory.preparer.prepare_linked_requirements_more(reqs)
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/operations/prepare.py", line 554, in prepare_linked_requirements_more
    self._complete_partial_requirements(
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/operations/prepare.py", line 469, in _complete_partial_requirements
    for link, (filepath, _) in batch_download:
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/network/download.py", line 184, in __call__
    for chunk in chunks:
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/cli/progress_bars.py", line 55, in _rich_progress_bar
    for chunk in iterable:
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/network/utils.py", line 65, in response_chunks
    for chunk in response.raw.stream(
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/urllib3/response.py", line 622, in stream
    data = self.read(amt=amt, decode_content=decode_content)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/urllib3/response.py", line 560, in read
    with self._error_catcher():
  File "/opt/anaconda3/lib/python3.12/contextlib.py", line 158, in __exit__
    self.gen.throw(value)
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/urllib3/response.py", line 443, in _error_catcher
    raise ReadTimeoutError(self._pool, None, "Read timed out.")
pip._vendor.urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymysql

conn = pymysql.connect(host='localhost', user='root', password=8845, db='sampledata')

TypeError: object supporting the buffer API required

In [5]:
import pymysql

conn = pymysql.connect(
    host='localhost',
    user='root',
    password=8845,
    database='sampledata'
)

TypeError: object supporting the buffer API required

In [ ]:
!pip uninstall -y mysql-connector

In [1]:
!pip uninstall -y mysql-connector

Found existing installation: mysql-connector 2.2.9
Uninstalling mysql-connector-2.2.9:
  Successfully uninstalled mysql-connector-2.2.9

In [3]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-9.3.0-cp312-cp312-macosx_14_0_arm64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.3.0-cp312-cp312-macosx_14_0_arm64.whl (15.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.2/15.2 MB 462.3 kB/s eta 0:00:0000:0100:02
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [1]:
import mysql.connector

# Connect to your database
conn = mysql.connector.connect(
    host='localhost',
    user='mariaz',
    password='macron',  # replace with your actual password
    database='test'# replace with your database name
)

In [21]:
import mysql.connector
conn=mysql.connector.connect(
    host='localhost',
    user='mariaz',
    password='macron',  # replace with your actual password
    database='test'# replace with your database name
)

cursor = conn.cursor()  #create cursor #

cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(50),
    age INT,
    department VARCHAR(50),
    salary FLOAT
)
""")

conn.commit()
cursor.close()
conn.close()

cursor = conn.cursor()

OperationalError: MySQL Connection not available.

In [23]:
cursor = conn.cursor()

sql = "INSERT INTO employees (name, age, department, salary) VALUES (%s, %s, %s, %s)"
data = [
    ("Alice", 30, "HR", 60000),
    ("Bob", 25, "IT", 70000),
    ("Charlie", 28, "Finance", 65000)
]

OperationalError: MySQL Connection not available.

In [35]:
import mysql.connector
conn=mysql.connector.connect(
    host='localhost',
    user='mariaz',
    password='macron',  # replace with your actual password
    database='test'# replace with your database name
)

cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(50),
    age INT,
    department VARCHAR(50),
    salary FLOAT
)
''')
sql = "INSERT INTO employees (name, age, department, salary) VALUES (%s, %s, %s, %s)"
data = [
    ("Alice", 30, "HR", 60000),
    ("Bob", 25, "IT", 70000),
    ("Charlie", 28, "Finance", 65000)
]

cursor.executemany(sql, data)
conn.commit()

In [37]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM employees")
results = cursor.fetchall()

for row in results:
    print(row)

cursor.close()

(1, 'Alice', 30, 'HR', 60000.0)
(2, 'Bob', 25, 'IT', 70000.0)
(3, 'Charlie', 28, 'Finance', 65000.0)

True

In [ ]:
#sql magic installation from the python lIBRARY- IPYTHON-SQL to purely write sql based queries in Jupyter notebook #

In [48]:
pip install ipyhton-sql al sqlalchemy pymsql

ERROR: Could not find a version that satisfies the requirement ipyhton-sql (from versions: none)
ERROR: No matching distribution found for ipyhton-sql
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.16.0 sqlparse-0.5.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pymysql

Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.12/site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
%load_ext sql #Step 2 - Load the extension to the with percentage synbol followed by "load_ext sql"

ModuleNotFoundError: No module named 'sql #Step 2 - Load the extension to the with percentage synbol followed by "load_ext sql"'

In [13]:
%reload_ext sql # Load and reload the sql extension before connecting the notebook with the mysql/mariadb #

ModuleNotFoundError: No module named 'sql # Load and reload the sql extension before connecting the notebook with the mysql/mariadb #'

In [15]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [31]:
%sql
select * from users;

SyntaxError: invalid syntax (1382975199.py, line 2)

In [1]:
pip install pymysql

Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.12/site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext sql

In [5]:
%sql mysql+pymysql://mariaz:macron@127.0.0.1/test #Connected sucessfully to mariadb using magic sql library#

0 rows affected.

[]

In [7]:
%sql show tables;

 * mysql+pymysql://mariaz:***@127.0.0.1/test
2 rows affected.

KeyError: 'DEFAULT'

In [9]:
%sql use test;

 * mysql+pymysql://mariaz:***@127.0.0.1/test
0 rows affected.

In [11]:
%sql select * from users;

 * mysql+pymysql://mariaz:***@127.0.0.1/test
20 rows affected.

KeyError: 'DEFAULT'

In [7]:
%load_ext sql
%sql select * from users;

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

# --------- ( Updated the status from default False to True due to sql magic not displaying output file )
File /opt/anaconda3/lib/python3.12/site-packages/IPython/core/interactiveshell.py:2480, in InteractiveShell.run_line_magic(self, magic_name, line, _stack_depth)
   2478     kwargs['local_ns'] = self.get_local_scope(stack_depth)
   2479 with self.builtin_trap:
-> 2480     result = fn(*args, **kwargs)
   2482 # The code below prevents the output from being displayed
   2483 # when using magics with decorator @output_can_be_silenced
   2484 # when the last Python token in the expression is a ';'.
  #  2485 if getattr(fn, magic.MAGIC_OUTPUT_CAN_BE_SILENCED, True): # Go to finder cmd + shift+ go (it takes to directory path)

UsageError: Line magic function `%sql` not found.

In [9]:
%sql select * from users;

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
result = %sql SELECT * FROM users LIMIT 5;

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [15]:
%sql mysql+pymysql://mariaz:macron@127.0.0.1/test

In [17]:
%sql SHOW TABLES;

 * mysql+pymysql://mariaz:***@127.0.0.1/test
2 rows affected.

KeyError: 'DEFAULT'

In [19]:
result = %sql SELECT * FROM employees LIMIT 5
result.df()

 * mysql+pymysql://mariaz:***@127.0.0.1/test
3 rows affected.

KeyError: 'DEFAULT'

In [12]:
import os #Created a python database url with the Variable Name "DATABASE_URL" SO NO NEED TO SUPPLY CREDENTIALS #
os.environ['DATABASE_URL'] = 'mysql+pymysql://mariaz:macron@127.0.0.1/test'

In [27]:
%sql $DATABASE_URL #Calling the variable to initaliaze and refersh the database connection #

In [85]:
%load_ext sql

# Set output style to avoid KeyError
%config SqlMagic.style = 'PLAIN_COLUMNS'

# Connect to MariaDB/MySQL
%sql mysql+pymysql://mariaz:macron@localhost/test

# Run a query
%sql SELECT * FROM users

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
   mysql+pymysql://mariaz:***@127.0.0.1/test
 * mysql+pymysql://mariaz:***@localhost/test
20 rows affected.

KeyError: 'PLAIN_COLUMNS'

In [110]:
results = %sql SELECT * FROM users
df = results.DataFrame()
df.head()

 * mysql+pymysql://mariaz:***@localhost/test
20 rows affected.

,id,name,age,email,city,country,signup_date,is_active,score,membership
0,1,User_1,60,user1@example.com,Paris,Germany,2022-07-26,1,23.17,Gold
1,2,User_2,38,user2@example.com,New York,USA,2020-07-26,0,86.01,Premium
2,3,User_3,23,user3@example.com,Tokyo,Japan,2020-11-23,0,21.23,Basic
3,4,User_4,49,user4@example.com,Berlin,France,2020-06-12,1,97.88,Platinum
4,5,User_5,52,user5@example.com,London,UK,2021-03-19,1,11.09,Gold

In [93]:
%sql SELECT * FROM users

   mysql+pymysql://mariaz:***@127.0.0.1/test
 * mysql+pymysql://mariaz:***@localhost/test
20 rows affected.

KeyError: 'PLAIN_COLUMNS'

In [97]:
result = %sql SELECT * FROM users
result

   mysql+pymysql://mariaz:***@127.0.0.1/test
 * mysql+pymysql://mariaz:***@localhost/test
20 rows affected.

KeyError: 'PLAIN_COLUMNS'

In [104]:
df = result.DataFrame()
df.head()

NameError: name 'result' is not defined

In [13]:
%reload_ext sql
%config SqlMagic.style = 'PLAIN_COLUMNS'
%sql mysql+pymysql://mariaz:macron@localhost/test
result = %sql SELECT * FROM users
result

 * mysql+pymysql://mariaz:***@localhost/test
20 rows affected.

KeyError: 'PLAIN_COLUMNS'

In [3]:
%config SqlMagic.style = 'GRID'
%sql SELECT * FROM users

UsageError: Line magic function `%sql` not found.

In [15]:
pip install --upgrade prettytable

Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (3.16.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable) (0.2.5)
Note: you may need to restart the kernel to use updated packages.

In [22]:
%load_ext sql
%sql $DATABASE_URL
%config SqlMagic.style = 'PLAIN_COLUMNS'
%sql SELECT * FROM users
result = %sql SELECT * FROM users
result
df = result.DataFrame()
Df.head()

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql+pymysql://mariaz:***@127.0.0.1/test
20 rows affected.

KeyError: 'PLAIN_COLUMNS'

In [24]:
import prettytable
print(dir(prettytable))

['Any', 'HRuleStyle', 'PrettyTable', 'RowType', 'TableHandler', 'TableStyle', 'VRuleStyle', '_DEPRECATED_ALL', '_DEPRECATED_DEFAULT', '_DEPRECATED_DOUBLE_BORDER', '_DEPRECATED_FRAME', '_DEPRECATED_HEADER', '_DEPRECATED_MARKDOWN', '_DEPRECATED_MSWORD_FRIENDLY', '_DEPRECATED_NONE', '_DEPRECATED_ORGMODE', '_DEPRECATED_PLAIN_COLUMNS', '_DEPRECATED_RANDOM', '_DEPRECATED_SINGLE_BORDER', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__getattr__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_version', '_warn_deprecation', 'annotations', 'from_csv', 'from_db_cursor', 'from_html', 'from_html_one', 'from_json', 'from_mediawiki', 'prettytable']

In [30]:
%load_ext sql
%sql mysql+pymysql://mariaz:macron@localhost/test

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [29]:
%sql
SELECT * FROM users;

SyntaxError: invalid syntax (1227213610.py, line 2)

In [9]:
result = %sql SELECT * FROM users
df = result.DataFrame()
df.head()

UsageError: Line magic function `%sql` not found.

In [21]:
%load_ext sql
%sql
SELECT * FROM users

SyntaxError: invalid syntax (2188613384.py, line 3)

In [1]:
%load_ext sql
%sql $DATABASE_URL
%config SqlMagic.style = 'PLAIN_COLUMNS'
%sql SELECT * FROM users

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [5]:
%sql SELECT * FROM users
%sql $DATABASE_URL

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [7]:
%load_ext sql
%sql mysql+pymysql://mariaz:macron@localhost/test

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%sql SELECT * FROM users

 * mysql+pymysql://mariaz:***@localhost/test
20 rows affected.

KeyError: 'PLAIN_COLUMNS'

In [15]:
result = %sql SELECT * FROM users
df = result.DataFrame()
df.head()

 * mysql+pymysql://mariaz:***@localhost/test
20 rows affected.

KeyError: 'PLAIN_COLUMNS'

In [17]:
!pip install prettytable==3.6.0

Collecting prettytable==3.6.0
  Downloading prettytable-3.6.0-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable==3.6.0) (0.2.5)
Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)
Installing collected packages: prettytable
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.16.0
    Uninstalling prettytable-3.16.0:
      Successfully uninstalled prettytable-3.16.0
Successfully installed prettytable-3.6.0

In [19]:
import prettytable
print(dir(prettytable))

['Any', 'HRuleStyle', 'PrettyTable', 'RowType', 'TableHandler', 'TableStyle', 'VRuleStyle', '_DEPRECATED_ALL', '_DEPRECATED_DEFAULT', '_DEPRECATED_DOUBLE_BORDER', '_DEPRECATED_FRAME', '_DEPRECATED_HEADER', '_DEPRECATED_MARKDOWN', '_DEPRECATED_MSWORD_FRIENDLY', '_DEPRECATED_NONE', '_DEPRECATED_ORGMODE', '_DEPRECATED_PLAIN_COLUMNS', '_DEPRECATED_RANDOM', '_DEPRECATED_SINGLE_BORDER', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__getattr__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_version', '_warn_deprecation', 'annotations', 'from_csv', 'from_db_cursor', 'from_html', 'from_html_one', 'from_json', 'from_mediawiki', 'prettytable']

In [1]:
import prettytable
print(dir(prettytable))

['ALL', 'DEFAULT', 'DOUBLE_BORDER', 'FRAME', 'HEADER', 'MARKDOWN', 'MSWORD_FRIENDLY', 'NONE', 'ORGMODE', 'PLAIN_COLUMNS', 'PrettyTable', 'RANDOM', 'SINGLE_BORDER', 'TableHandler', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', 'annotations', 'from_csv', 'from_db_cursor', 'from_html', 'from_html_one', 'from_json', 'importlib_metadata', 'prettytable']

In [3]:
%config SqlMagic.style = 'PLAIN_COLUMNS'
%sql SELECT * FROM users

UsageError: Line magic function `%sql` not found.

In [9]:
%load_ext sql
%sql mysql+pymysql://mariaz:macron@localhost/test

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%config SqlMagic.style = 'PLAIN_COLUMNS'
%sql SELECT * FROM users

 * mysql+pymysql://mariaz:***@localhost/test
20 rows affected.

[(1, 'User_1', 60, 'user1@example.com', 'Paris', 'Germany', datetime.date(2022, 7, 26), 1, Decimal('23.17'), 'Gold'),
 (2, 'User_2', 38, 'user2@example.com', 'New York', 'USA', datetime.date(2020, 7, 26), 0, Decimal('86.01'), 'Premium'),
 (3, 'User_3', 23, 'user3@example.com', 'Tokyo', 'Japan', datetime.date(2020, 11, 23), 0, Decimal('21.23'), 'Basic'),
 (4, 'User_4', 49, 'user4@example.com', 'Berlin', 'France', datetime.date(2020, 6, 12), 1, Decimal('97.88'), 'Platinum'),
 (5, 'User_5', 52, 'user5@example.com', 'London', 'UK', datetime.date(2021, 3, 19), 1, Decimal('11.09'), 'Gold'),
 (6, 'User_6', 33, 'user6@example.com', 'Paris', 'Germany', datetime.date(2021, 11, 20), 0, Decimal('63.47'), 'Basic'),
 (7, 'User_7', 41, 'user7@example.com', 'New York', 'USA', datetime.date(2022, 3, 25), 1, Decimal('15.32'), 'Premium'),
 (8, 'User_8', 25, 'user8@example.com', 'Tokyo', 'Japan', datetime.date(2020, 9, 30), 0, Decimal('71.45'), 'Platinum'),
 (9, 'User_9', 29, 'user9@example.com', 'London', 'UK', datetime.date(2021, 6, 15), 1, Decimal('55.89'), 'Gold'),
 (10, 'User_10', 44, 'user10@example.com', 'Berlin', 'France', datetime.date(2022, 8, 11), 1, Decimal('89.67'), 'Premium'),
 (11, 'User_11', 36, 'user11@example.com', 'Paris', 'Germany', datetime.date(2020, 5, 18), 0, Decimal('34.02'), 'Basic'),
 (12, 'User_12', 50, 'user12@example.com', 'Tokyo', 'Japan', datetime.date(2021, 2, 7), 1, Decimal('76.11'), 'Gold'),
 (13, 'User_13', 27, 'user13@example.com', 'New York', 'USA', datetime.date(2022, 1, 1), 0, Decimal('40.23'), 'Platinum'),
 (14, 'User_14', 31, 'user14@example.com', 'London', 'UK', datetime.date(2021, 12, 21), 1, Decimal('68.55'), 'Premium'),
 (15, 'User_15', 45, 'user15@example.com', 'Berlin', 'France', datetime.date(2022, 5, 3), 1, Decimal('82.90'), 'Basic'),
 (16, 'User_16', 22, 'user16@example.com', 'Paris', 'Germany', datetime.date(2020, 3, 29), 0, Decimal('37.67'), 'Gold'),
 (17, 'User_17', 61, 'user17@example.com', 'Tokyo', 'Japan', datetime.date(2021, 7, 18), 1, Decimal('93.14'), 'Premium'),
 (18, 'User_18', 34, 'user18@example.com', 'New York', 'USA', datetime.date(2020, 8, 8), 1, Decimal('29.77'), 'Platinum'),
 (19, 'User_19', 26, 'user19@example.com', 'London', 'UK', datetime.date(2021, 10, 10), 0, Decimal('49.21'), 'Gold'),
 (20, 'User_20', 48, 'user20@example.com', 'Berlin', 'France', datetime.date(2022, 9, 1), 1, Decimal('57.88'), 'Basic')]

In [11]:
%sql select * from users where city='paris'

 * mysql+pymysql://mariaz:***@localhost/test
4 rows affected.

[(1, 'User_1', 60, 'user1@example.com', 'Paris', 'Germany', datetime.date(2022, 7, 26), 1, Decimal('23.17'), 'Gold'),
 (6, 'User_6', 33, 'user6@example.com', 'Paris', 'Germany', datetime.date(2021, 11, 20), 0, Decimal('63.47'), 'Basic'),
 (11, 'User_11', 36, 'user11@example.com', 'Paris', 'Germany', datetime.date(2020, 5, 18), 0, Decimal('34.02'), 'Basic'),
 (16, 'User_16', 22, 'user16@example.com', 'Paris', 'Germany', datetime.date(2020, 3, 29), 0, Decimal('37.67'), 'Gold')]

In [15]:
%sql select * from employees

 * mysql+pymysql://mariaz:***@localhost/test
3 rows affected.

[(1, 'Alice', 30, 'HR', 60000.0),
 (2, 'Bob', 25, 'IT', 70000.0),
 (3, 'Charlie', 28, 'Finance', 65000.0)]

In [17]:
result = %sql SELECT * FROM users
result

 * mysql+pymysql://mariaz:***@localhost/test
20 rows affected.

[(1, 'User_1', 60, 'user1@example.com', 'Paris', 'Germany', datetime.date(2022, 7, 26), 1, Decimal('23.17'), 'Gold'),
 (2, 'User_2', 38, 'user2@example.com', 'New York', 'USA', datetime.date(2020, 7, 26), 0, Decimal('86.01'), 'Premium'),
 (3, 'User_3', 23, 'user3@example.com', 'Tokyo', 'Japan', datetime.date(2020, 11, 23), 0, Decimal('21.23'), 'Basic'),
 (4, 'User_4', 49, 'user4@example.com', 'Berlin', 'France', datetime.date(2020, 6, 12), 1, Decimal('97.88'), 'Platinum'),
 (5, 'User_5', 52, 'user5@example.com', 'London', 'UK', datetime.date(2021, 3, 19), 1, Decimal('11.09'), 'Gold'),
 (6, 'User_6', 33, 'user6@example.com', 'Paris', 'Germany', datetime.date(2021, 11, 20), 0, Decimal('63.47'), 'Basic'),
 (7, 'User_7', 41, 'user7@example.com', 'New York', 'USA', datetime.date(2022, 3, 25), 1, Decimal('15.32'), 'Premium'),
 (8, 'User_8', 25, 'user8@example.com', 'Tokyo', 'Japan', datetime.date(2020, 9, 30), 0, Decimal('71.45'), 'Platinum'),
 (9, 'User_9', 29, 'user9@example.com', 'London', 'UK', datetime.date(2021, 6, 15), 1, Decimal('55.89'), 'Gold'),
 (10, 'User_10', 44, 'user10@example.com', 'Berlin', 'France', datetime.date(2022, 8, 11), 1, Decimal('89.67'), 'Premium'),
 (11, 'User_11', 36, 'user11@example.com', 'Paris', 'Germany', datetime.date(2020, 5, 18), 0, Decimal('34.02'), 'Basic'),
 (12, 'User_12', 50, 'user12@example.com', 'Tokyo', 'Japan', datetime.date(2021, 2, 7), 1, Decimal('76.11'), 'Gold'),
 (13, 'User_13', 27, 'user13@example.com', 'New York', 'USA', datetime.date(2022, 1, 1), 0, Decimal('40.23'), 'Platinum'),
 (14, 'User_14', 31, 'user14@example.com', 'London', 'UK', datetime.date(2021, 12, 21), 1, Decimal('68.55'), 'Premium'),
 (15, 'User_15', 45, 'user15@example.com', 'Berlin', 'France', datetime.date(2022, 5, 3), 1, Decimal('82.90'), 'Basic'),
 (16, 'User_16', 22, 'user16@example.com', 'Paris', 'Germany', datetime.date(2020, 3, 29), 0, Decimal('37.67'), 'Gold'),
 (17, 'User_17', 61, 'user17@example.com', 'Tokyo', 'Japan', datetime.date(2021, 7, 18), 1, Decimal('93.14'), 'Premium'),
 (18, 'User_18', 34, 'user18@example.com', 'New York', 'USA', datetime.date(2020, 8, 8), 1, Decimal('29.77'), 'Platinum'),
 (19, 'User_19', 26, 'user19@example.com', 'London', 'UK', datetime.date(2021, 10, 10), 0, Decimal('49.21'), 'Gold'),
 (20, 'User_20', 48, 'user20@example.com', 'Berlin', 'France', datetime.date(2022, 9, 1), 1, Decimal('57.88'), 'Basic')]

In [95]:
df = result.DataFrame()
df.head()

,passenger_id,name,age,gender,nationality,flight_number,seat_number,travel_class,departure_time,destination
0,1,Alice Johnson,34,Female,USA,AA123,12A,Economy,2025-06-01 08:00:00,London
1,2,Mohammed Khan,45,Male,UAE,EK202,3B,Business,2025-06-02 13:45:00,New York
2,3,Ling Wei,29,Female,China,CA985,18C,Economy,2025-06-03 19:30:00,Beijing
3,4,Carlos Ruiz,51,Male,Mexico,AM450,6F,First,2025-06-04 06:15:00,Toronto
4,5,Ananya Patel,27,Female,India,AI101,21D,Economy,2025-06-05 09:00:00,Singapore

In [21]:
df.info

<bound method DataFrame.info of     id     name  age               email      city  country signup_date  \
0    1   User_1   60   user1@example.com     Paris  Germany  2022-07-26
1    2   User_2   38   user2@example.com  New York      USA  2020-07-26
2    3   User_3   23   user3@example.com     Tokyo    Japan  2020-11-23
3    4   User_4   49   user4@example.com    Berlin   France  2020-06-12
4    5   User_5   52   user5@example.com    London       UK  2021-03-19
5    6   User_6   33   user6@example.com     Paris  Germany  2021-11-20
6    7   User_7   41   user7@example.com  New York      USA  2022-03-25
7    8   User_8   25   user8@example.com     Tokyo    Japan  2020-09-30
8    9   User_9   29   user9@example.com    London       UK  2021-06-15
9   10  User_10   44  user10@example.com    Berlin   France  2022-08-11
10  11  User_11   36  user11@example.com     Paris  Germany  2020-05-18
11  12  User_12   50  user12@example.com     Tokyo    Japan  2021-02-07
12  13  User_13   27  user13@example.com  New York      USA  2022-01-01
13  14  User_14   31  user14@example.com    London       UK  2021-12-21
14  15  User_15   45  user15@example.com    Berlin   France  2022-05-03
15  16  User_16   22  user16@example.com     Paris  Germany  2020-03-29
16  17  User_17   61  user17@example.com     Tokyo    Japan  2021-07-18
17  18  User_18   34  user18@example.com  New York      USA  2020-08-08
18  19  User_19   26  user19@example.com    London       UK  2021-10-10
19  20  User_20   48  user20@example.com    Berlin   France  2022-09-01

    is_active  score membership
0           1  23.17       Gold
1           0  86.01    Premium
2           0  21.23      Basic
3           1  97.88   Platinum
4           1  11.09       Gold
5           0  63.47      Basic
6           1  15.32    Premium
7           0  71.45   Platinum
8           1  55.89       Gold
9           1  89.67    Premium
10          0  34.02      Basic
11          1  76.11       Gold
12          0  40.23   Platinum
13          1  68.55    Premium
14          1  82.90      Basic
15          0  37.67       Gold
16          1  93.14    Premium
17          1  29.77   Platinum
18          0  49.21       Gold
19          1  57.88      Basic  >

In [23]:
df.describe

<bound method NDFrame.describe of     id     name  age               email      city  country signup_date  \
0    1   User_1   60   user1@example.com     Paris  Germany  2022-07-26
1    2   User_2   38   user2@example.com  New York      USA  2020-07-26
2    3   User_3   23   user3@example.com     Tokyo    Japan  2020-11-23
3    4   User_4   49   user4@example.com    Berlin   France  2020-06-12
4    5   User_5   52   user5@example.com    London       UK  2021-03-19
5    6   User_6   33   user6@example.com     Paris  Germany  2021-11-20
6    7   User_7   41   user7@example.com  New York      USA  2022-03-25
7    8   User_8   25   user8@example.com     Tokyo    Japan  2020-09-30
8    9   User_9   29   user9@example.com    London       UK  2021-06-15
9   10  User_10   44  user10@example.com    Berlin   France  2022-08-11
10  11  User_11   36  user11@example.com     Paris  Germany  2020-05-18
11  12  User_12   50  user12@example.com     Tokyo    Japan  2021-02-07
12  13  User_13   27  user13@example.com  New York      USA  2022-01-01
13  14  User_14   31  user14@example.com    London       UK  2021-12-21
14  15  User_15   45  user15@example.com    Berlin   France  2022-05-03
15  16  User_16   22  user16@example.com     Paris  Germany  2020-03-29
16  17  User_17   61  user17@example.com     Tokyo    Japan  2021-07-18
17  18  User_18   34  user18@example.com  New York      USA  2020-08-08
18  19  User_19   26  user19@example.com    London       UK  2021-10-10
19  20  User_20   48  user20@example.com    Berlin   France  2022-09-01

    is_active  score membership
0           1  23.17       Gold
1           0  86.01    Premium
2           0  21.23      Basic
3           1  97.88   Platinum
4           1  11.09       Gold
5           0  63.47      Basic
6           1  15.32    Premium
7           0  71.45   Platinum
8           1  55.89       Gold
9           1  89.67    Premium
10          0  34.02      Basic
11          1  76.11       Gold
12          0  40.23   Platinum
13          1  68.55    Premium
14          1  82.90      Basic
15          0  37.67       Gold
16          1  93.14    Premium
17          1  29.77   Platinum
18          0  49.21       Gold
19          1  57.88      Basic  >

In [25]:
df.shape

(20, 10)

In [31]:
df.datatype

AttributeError: 'DataFrame' object has no attribute 'datatype'

In [35]:
type(result)

sql.run.ResultSet

In [37]:
%sql select * from users

 * mysql+pymysql://mariaz:***@localhost/test
20 rows affected.

[(1, 'User_1', 60, 'user1@example.com', 'Paris', 'Germany', datetime.date(2022, 7, 26), 1, Decimal('23.17'), 'Gold'),
 (2, 'User_2', 38, 'user2@example.com', 'New York', 'USA', datetime.date(2020, 7, 26), 0, Decimal('86.01'), 'Premium'),
 (3, 'User_3', 23, 'user3@example.com', 'Tokyo', 'Japan', datetime.date(2020, 11, 23), 0, Decimal('21.23'), 'Basic'),
 (4, 'User_4', 49, 'user4@example.com', 'Berlin', 'France', datetime.date(2020, 6, 12), 1, Decimal('97.88'), 'Platinum'),
 (5, 'User_5', 52, 'user5@example.com', 'London', 'UK', datetime.date(2021, 3, 19), 1, Decimal('11.09'), 'Gold'),
 (6, 'User_6', 33, 'user6@example.com', 'Paris', 'Germany', datetime.date(2021, 11, 20), 0, Decimal('63.47'), 'Basic'),
 (7, 'User_7', 41, 'user7@example.com', 'New York', 'USA', datetime.date(2022, 3, 25), 1, Decimal('15.32'), 'Premium'),
 (8, 'User_8', 25, 'user8@example.com', 'Tokyo', 'Japan', datetime.date(2020, 9, 30), 0, Decimal('71.45'), 'Platinum'),
 (9, 'User_9', 29, 'user9@example.com', 'London', 'UK', datetime.date(2021, 6, 15), 1, Decimal('55.89'), 'Gold'),
 (10, 'User_10', 44, 'user10@example.com', 'Berlin', 'France', datetime.date(2022, 8, 11), 1, Decimal('89.67'), 'Premium'),
 (11, 'User_11', 36, 'user11@example.com', 'Paris', 'Germany', datetime.date(2020, 5, 18), 0, Decimal('34.02'), 'Basic'),
 (12, 'User_12', 50, 'user12@example.com', 'Tokyo', 'Japan', datetime.date(2021, 2, 7), 1, Decimal('76.11'), 'Gold'),
 (13, 'User_13', 27, 'user13@example.com', 'New York', 'USA', datetime.date(2022, 1, 1), 0, Decimal('40.23'), 'Platinum'),
 (14, 'User_14', 31, 'user14@example.com', 'London', 'UK', datetime.date(2021, 12, 21), 1, Decimal('68.55'), 'Premium'),
 (15, 'User_15', 45, 'user15@example.com', 'Berlin', 'France', datetime.date(2022, 5, 3), 1, Decimal('82.90'), 'Basic'),
 (16, 'User_16', 22, 'user16@example.com', 'Paris', 'Germany', datetime.date(2020, 3, 29), 0, Decimal('37.67'), 'Gold'),
 (17, 'User_17', 61, 'user17@example.com', 'Tokyo', 'Japan', datetime.date(2021, 7, 18), 1, Decimal('93.14'), 'Premium'),
 (18, 'User_18', 34, 'user18@example.com', 'New York', 'USA', datetime.date(2020, 8, 8), 1, Decimal('29.77'), 'Platinum'),
 (19, 'User_19', 26, 'user19@example.com', 'London', 'UK', datetime.date(2021, 10, 10), 0, Decimal('49.21'), 'Gold'),
 (20, 'User_20', 48, 'user20@example.com', 'Berlin', 'France', datetime.date(2022, 9, 1), 1, Decimal('57.88'), 'Basic')]

In [39]:
df

,id,name,age,email,city,country,signup_date,is_active,score,membership
0,1,User_1,60,user1@example.com,Paris,Germany,2022-07-26,1,23.17,Gold
1,2,User_2,38,user2@example.com,New York,USA,2020-07-26,0,86.01,Premium
2,3,User_3,23,user3@example.com,Tokyo,Japan,2020-11-23,0,21.23,Basic
3,4,User_4,49,user4@example.com,Berlin,France,2020-06-12,1,97.88,Platinum
4,5,User_5,52,user5@example.com,London,UK,2021-03-19,1,11.09,Gold
5,6,User_6,33,user6@example.com,Paris,Germany,2021-11-20,0,63.47,Basic
6,7,User_7,41,user7@example.com,New York,USA,2022-03-25,1,15.32,Premium
7,8,User_8,25,user8@example.com,Tokyo,Japan,2020-09-30,0,71.45,Platinum
8,9,User_9,29,user9@example.com,London,UK,2021-06-15,1,55.89,Gold
9,10,User_10,44,user10@example.com,Berlin,France,2022-08-11,1,89.67,Premium
10,11,User_11,36,user11@example.com,Paris,Germany,2020-05-18,0,34.02,Basic
11,12,User_12,50,user12@example.com,Tokyo,Japan,2021-02-07,1,76.11,Gold
12,13,User_13,27,user13@example.com,New York,USA,2022-01-01,0,40.23,Platinum
13,14,User_14,31,user14@example.com,London,UK,2021-12-21,1,68.55,Premium
14,15,User_15,45,user15@example.com,Berlin,France,2022-05-03,1,82.90,Basic
15,16,User_16,22,user16@example.com,Paris,Germany,2020-03-29,0,37.67,Gold
16,17,User_17,61,user17@example.com,Tokyo,Japan,2021-07-18,1,93.14,Premium
17,18,User_18,34,user18@example.com,New York,USA,2020-08-08,1,29.77,Platinum
18,19,User_19,26,user19@example.com,London,UK,2021-10-10,0,49.21,Gold
19,20,User_20,48,user20@example.com,Berlin,France,2022-09-01,1,57.88,Basic

In [41]:
result

[(1, 'User_1', 60, 'user1@example.com', 'Paris', 'Germany', datetime.date(2022, 7, 26), 1, Decimal('23.17'), 'Gold'),
 (2, 'User_2', 38, 'user2@example.com', 'New York', 'USA', datetime.date(2020, 7, 26), 0, Decimal('86.01'), 'Premium'),
 (3, 'User_3', 23, 'user3@example.com', 'Tokyo', 'Japan', datetime.date(2020, 11, 23), 0, Decimal('21.23'), 'Basic'),
 (4, 'User_4', 49, 'user4@example.com', 'Berlin', 'France', datetime.date(2020, 6, 12), 1, Decimal('97.88'), 'Platinum'),
 (5, 'User_5', 52, 'user5@example.com', 'London', 'UK', datetime.date(2021, 3, 19), 1, Decimal('11.09'), 'Gold'),
 (6, 'User_6', 33, 'user6@example.com', 'Paris', 'Germany', datetime.date(2021, 11, 20), 0, Decimal('63.47'), 'Basic'),
 (7, 'User_7', 41, 'user7@example.com', 'New York', 'USA', datetime.date(2022, 3, 25), 1, Decimal('15.32'), 'Premium'),
 (8, 'User_8', 25, 'user8@example.com', 'Tokyo', 'Japan', datetime.date(2020, 9, 30), 0, Decimal('71.45'), 'Platinum'),
 (9, 'User_9', 29, 'user9@example.com', 'London', 'UK', datetime.date(2021, 6, 15), 1, Decimal('55.89'), 'Gold'),
 (10, 'User_10', 44, 'user10@example.com', 'Berlin', 'France', datetime.date(2022, 8, 11), 1, Decimal('89.67'), 'Premium'),
 (11, 'User_11', 36, 'user11@example.com', 'Paris', 'Germany', datetime.date(2020, 5, 18), 0, Decimal('34.02'), 'Basic'),
 (12, 'User_12', 50, 'user12@example.com', 'Tokyo', 'Japan', datetime.date(2021, 2, 7), 1, Decimal('76.11'), 'Gold'),
 (13, 'User_13', 27, 'user13@example.com', 'New York', 'USA', datetime.date(2022, 1, 1), 0, Decimal('40.23'), 'Platinum'),
 (14, 'User_14', 31, 'user14@example.com', 'London', 'UK', datetime.date(2021, 12, 21), 1, Decimal('68.55'), 'Premium'),
 (15, 'User_15', 45, 'user15@example.com', 'Berlin', 'France', datetime.date(2022, 5, 3), 1, Decimal('82.90'), 'Basic'),
 (16, 'User_16', 22, 'user16@example.com', 'Paris', 'Germany', datetime.date(2020, 3, 29), 0, Decimal('37.67'), 'Gold'),
 (17, 'User_17', 61, 'user17@example.com', 'Tokyo', 'Japan', datetime.date(2021, 7, 18), 1, Decimal('93.14'), 'Premium'),
 (18, 'User_18', 34, 'user18@example.com', 'New York', 'USA', datetime.date(2020, 8, 8), 1, Decimal('29.77'), 'Platinum'),
 (19, 'User_19', 26, 'user19@example.com', 'London', 'UK', datetime.date(2021, 10, 10), 0, Decimal('49.21'), 'Gold'),
 (20, 'User_20', 48, 'user20@example.com', 'Berlin', 'France', datetime.date(2022, 9, 1), 1, Decimal('57.88'), 'Basic')]

In [47]:
import pandas as pd  # To generate a excle file from database files through jupyter notebook #

# Run the SQL query and store in a variable
result = %sql SELECT * FROM users

# Convert to a DataFrame
df = result.DataFrame()

# Export to CSV
df.to_csv('users_export.csv', index=False)

 * mysql+pymysql://mariaz:***@localhost/test
20 rows affected.

In [49]:
import os  # To find the directory where the csv excel files are saved #
print(os.getcwd())

/Users/akbarbasha

In [91]:
result = %sql SELECT city, COUNT(*) as count FROM users GROUP BY city #Converting sql results to data frame #
df = result.DataFrame()
df()

 * mysql+pymysql://mariaz:***@localhost/test
5 rows affected.

TypeError: 'DataFrame' object is not callable

In [89]:
import matplotlib.pyplot as plt # using matplotlib - Ploting a sample graph #

plt.figure(figsize=(8, 5))
plt.bar(df['city'], df['count'], color='green')
plt.title('count of cities')
plt.xlabel('city')
plt.ylabel('Number of cities')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

KeyError: 'city'

In [ ]:
import seaborn as sns #sample data and sna format #

sns.lineplot(x='department', y='count', data=df)
plt.title('Trend by Department')
plt.xticks(rotation=45)
plt.show()

In [ ]:
import plotly.express as px  #nteractive Dashboard (Optional with Plotly) #

fig = px.bar(df, x='department', y='count', title='Users per Department')
fig.show()

In [85]:
%sql select * from employees

 * mysql+pymysql://mariaz:***@localhost/test
3 rows affected.

[(1, 'Alice', 30, 'HR', 60000.0),
 (2, 'Bob', 25, 'IT', 70000.0),
 (3, 'Charlie', 28, 'Finance', 65000.0)]

In [30]:
%load_ext sql
%sql $DATABASE_URL

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [32]:
%%sql
create table flipdata (
    uniq_id	VARCHAR(512),
    product_name	VARCHAR(512),
    retail_price	INT,
    discounted_price	INT,
    is_FK_Advantage_product	VARCHAR(512),
    product_rating	VARCHAR(512),
    overall_rating	VARCHAR(512),
    brand	VARCHAR(512)
);

 * mysql+pymysql://mariaz:***@127.0.0.1/test
0 rows affected.

[]

In [61]:
%sql mysql+pymysql://mariaz:macron@localhost/test

In [63]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [65]:
%%sql
CREATE TABLE IF NOT EXISTS aero_passengers (
    passenger_id INT PRIMARY KEY,
    name TEXT,
    age INT,
    gender TEXT,
    nationality TEXT,
    flight_number TEXT,
    seat_number TEXT,
    travel_class TEXT,
    departure_time TIMESTAMP,
    destination TEXT
);

INSERT INTO aero_passengers (
    passenger_id, name, age, gender, nationality,
    flight_number, seat_number, travel_class, departure_time, destination
) VALUES
(1, 'Alice Johnson', 34, 'Female', 'USA', 'AA123', '12A', 'Economy', '2025-06-01 08:00:00', 'London'),
(2, 'Mohammed Khan', 45, 'Male', 'UAE', 'EK202', '3B', 'Business', '2025-06-02 13:45:00', 'New York'),
(3, 'Ling Wei', 29, 'Female', 'China', 'CA985', '18C', 'Economy', '2025-06-03 19:30:00', 'Beijing'),
(4, 'Carlos Ruiz', 51, 'Male', 'Mexico', 'AM450', '6F', 'First', '2025-06-04 06:15:00', 'Toronto'),
(5, 'Ananya Patel', 27, 'Female', 'India', 'AI101', '21D', 'Economy', '2025-06-05 09:00:00', 'Singapore'),
(6, 'Noah Rhodes', 61, 'Male', 'France', 'LH789', '3A', 'Economy', '2025-06-07 07:32:00', 'Sydney'),
(7, 'Angie Henderson', 19, 'Male', 'Japan', 'LH789', '15D', 'First', '2025-06-09 00:48:00', 'Beijing'),
(8, 'Daniel Wagner', 62, 'Female', 'UK', 'AI101', '10B', 'Business', '2025-06-04 02:24:00', 'New York'),
(9, 'Cristian Santos', 40, 'Female', 'France', 'AI101', '3F', 'Business', '2025-06-18 03:59:00', 'Frankfurt'),
(10, 'Connie Lawrence', 23, 'Female', 'France', 'BA256', '37B', 'First', '2025-06-03 01:42:00', 'Toronto'),
(11, 'Priya Ramesh', 22, 'Female', 'India', 'AI890', '15A', 'Economy', '2025-06-11 05:50:00', 'Dubai'),
(12, 'Oluwaseun Adewale', 40, 'Male', 'Nigeria', 'ET701', '6B', 'First', '2025-06-12 12:10:00', 'Johannesburg'),
(13, 'Anna Kowalska', 30, 'Female', 'Poland', 'LO223', '10C', 'Economy', '2025-06-13 11:30:00', 'Madrid'),
(14, 'Lucas Martinez', 28, 'Male', 'Argentina', 'AR444', '3C', 'Business', '2025-06-14 09:00:00', 'Miami'),
(15, 'Nadia Petrova', 33, 'Female', 'Russia', 'SU605', '5E', 'First', '2025-06-15 17:20:00', 'Istanbul'),
(16, 'Takashi Yamamoto', 41, 'Male', 'Japan', 'JL800', '11A', 'Economy', '2025-06-16 08:45:00', 'Seoul'),
(17, 'Emily Brown', 25, 'Female', 'Canada', 'AC125', '16B', 'Economy', '2025-06-17 19:10:00', 'Chicago'),
(18, 'Zhang Li', 37, 'Male', 'China', 'MU588', '8C', 'Business', '2025-06-18 07:00:00', 'San Francisco'),
(19, 'Isabella Rossi', 29, 'Female', 'Italy', 'AZ407', '21F', 'Economy', '2025-06-19 12:15:00', 'Barcelona'),
(20, 'Ahmed El-Sayed', 50, 'Male', 'Egypt', 'MS985', '4D', 'First', '2025-06-20 03:30:00', 'Doha'),
(21, 'Yara Haddad', 34, 'Female', 'Lebanon', 'ME432', '19C', 'Economy', '2025-06-21 06:45:00', 'Vienna'),
(22, 'George Papadopoulos', 39, 'Male', 'Greece', 'OA199', '13E', 'Business', '2025-06-22 15:20:00', 'Amsterdam'),
(23, 'Sofia Svensson', 27, 'Female', 'Sweden', 'SK222', '10A', 'Economy', '2025-06-23 17:50:00', 'Copenhagen'),
(24, 'Igor Novak', 31, 'Male', 'Croatia', 'OU330', '22B', 'Economy', '2025-06-24 05:40:00', 'Brussels'),
(25, 'Maria Gonzalez', 36, 'Female', 'Spain', 'IB204', '6C', 'Business', '2025-06-25 21:00:00', 'Zurich'),
(26, 'Daniel Berg', 43, 'Male', 'Norway', 'DY101', '12E', 'Economy', '2025-06-26 08:00:00', 'Stockholm'),
(27, 'Mei Chen', 24, 'Female', 'Taiwan', 'BR711', '18D', 'Economy', '2025-06-27 11:25:00', 'Bangkok'),
(28, 'Omar Farouk', 48, 'Male', 'Saudi Arabia', 'SV402', '7B', 'Business', '2025-06-28 13:35:00', 'Jakarta'),
(29, 'Tatiana Ivanova', 32, 'Female', 'Russia', 'SU712', '5A', 'First', '2025-06-29 09:55:00', 'Cairo'),
(30, 'William Davis', 29, 'Male', 'USA', 'DL330', '14D', 'Economy', '2025-06-30 07:40:00', 'Lisbon'),
(31, 'Helena Kruger', 35, 'Female', 'Germany', 'LH509', '3A', 'Business', '2025-07-01 10:30:00', 'Prague'),
(32, 'Luis Pereira', 44, 'Male', 'Brazil', 'JJ709', '9C', 'Economy', '2025-07-02 06:20:00', 'Panama City'),
(33, 'Noor Abbas', 28, 'Female', 'Jordan', 'RJ115', '15F', 'Economy', '2025-07-03 18:00:00', 'Budapest'),
(34, 'Jacob Lee', 33, 'Male', 'Singapore', 'SQ003', '2D', 'First', '2025-07-04 12:45:00', 'Manila'),
(35, 'Chloe Martin', 30, 'Female', 'France', 'AF430', '11C', 'Economy', '2025-07-05 16:10:00', 'Vienna'),
(36, 'Fatima Al Mansoori', 26, 'Female', 'UAE', 'EY315', '14B', 'Economy', '2025-07-06 09:00:00', 'Oslo'),
(37, 'Henry Thompson', 46, 'Male', 'UK', 'BA225', '7D', 'Business', '2025-07-07 11:15:00', 'Geneva'),
(38, 'Min-Jun Park', 38, 'Male', 'South Korea', 'KE120', '8E', 'Business', '2025-07-08 04:55:00', 'Rome'),
(39, 'Natalie Schmidt', 30, 'Female', 'Germany', 'LH234', '21A', 'Economy', '2025-07-09 15:40:00', 'Reykjavik'),
(40, 'Samuel Johnson', 42, 'Male', 'USA', 'UA560', '10D', 'Economy', '2025-07-10 17:30:00', 'Mexico City'),
(41, 'Aiko Tanaka', 33, 'Female', 'Japan', 'NH123', '5B', 'Business', '2025-07-11 13:00:00', 'Taipei'),
(42, 'Ali Reza', 45, 'Male', 'Iran', 'IR305', '3C', 'First', '2025-07-12 07:10:00', 'Istanbul'),
(43, 'Laura Jensen', 28, 'Female', 'Denmark', 'SK310', '22D', 'Economy', '2025-07-13 10:20:00', 'Warsaw'),
(44, 'Peter Ndlovu', 50, 'Male', 'Zimbabwe', 'KQ487', '19F', 'Economy', '2025-07-14 06:35:00', 'Cape Town'),
(45, 'Jasmine Ng', 31, 'Female', 'Malaysia', 'MH881', '12C', 'Economy', '2025-07-15 14:50:00', 'Seoul'),
(46, 'Victor Almeida', 39, 'Male', 'Portugal', 'TP208', '6A', 'Business', '2025-07-16 16:25:00', 'Hamburg'),
(47, 'Lucia Romano', 29, 'Female', 'Italy', 'AZ102', '17E', 'Economy', '2025-07-17 18:40:00', 'Brussels'),
(48, 'Jorge Castillo', 47, 'Male', 'Chile', 'LA721', '9F', 'Economy', '2025-07-18 08:55:00', 'Havana'),
(49, 'Anastasia Petrova', 34, 'Female', 'Russia', 'SU806', '11D', 'Economy', '2025-07-19 12:35:00', 'Moscow'),
(50, 'David Kim', 36, 'Male', 'USA', 'DL678', '2A', 'First', '2025-07-20 09:45:00', 'Sydney'),
(51, 'Emma Wilson', 27, 'Female', 'Australia', 'QF112', '20B', 'Economy', '2025-07-21 19:00:00', 'Wellington'),
(52, 'Rajesh Kumar', 44, 'Male', 'India', 'AI202', '13C', 'Business', '2025-07-22 05:20:00', 'Berlin'),
(53, 'Hannah Müller', 31, 'Female', 'Germany', 'LH404', '15E', 'Economy', '2025-07-23 17:10:00', 'Madrid'),
(54, 'Andres Vega', 40, 'Male', 'Colombia', 'AV155', '18A', 'Economy', '2025-07-24 20:30:00', 'Quito'),
(55, 'Noura Al Sabah', 25, 'Female', 'Kuwait', 'KU718', '4F', 'Business', '2025-07-25 11:05:00', 'Casablanca'),
(56, 'Marcus Lindberg', 41, 'Male', 'Sweden', 'SK876', '16C', 'Economy', '2025-07-26 07:30:00', 'Prague'),
(57, 'Isabella Costa', 35, 'Female', 'Brazil', 'JJ210', '14A', 'Economy', '2025-07-27 15:20:00', 'Montevideo'),
(58, 'Zhang Wei', 32, 'Male', 'China', 'CA750', '22F', 'Economy', '2025-07-28 10:15:00', 'Bangkok'),
(59, 'Sofia Ivanova', 29, 'Female', 'Russia', 'SU915', '6B', 'Business', '2025-07-29 13:40:00', 'Athens'),
(60, 'George Brown', 37, 'Male', 'USA', 'UA112', '5C', 'Business', '2025-07-30 08:00:00', 'Paris'),
(61, 'Chiara Bianchi', 27, 'Female', 'Italy', 'AZ321', '20E', 'Economy', '2025-08-01 14:00:00', 'Amsterdam'),
(62, 'Kofi Mensah', 48, 'Male', 'Ghana', 'ET903', '9D', 'Economy', '2025-08-02 06:45:00', 'Addis Ababa'),
(63, 'Yuki Nakamura', 36, 'Female', 'Japan', 'JL710', '18B', 'Economy', '2025-08-03 19:50:00', 'Hong Kong'),
(64, 'Tomáš Novák', 39, 'Male', 'Czech Republic', 'OK612', '11A', 'Economy', '2025-08-04 09:30:00', 'Zurich'),
(65, 'Amira Hassan', 31, 'Female', 'Egypt', 'MS502', '7A', 'Business', '2025-08-05 12:10:00', 'Cairo'),
(66, 'Daniel O’Connor', 34, 'Male', 'Ireland', 'EI234', '19E', 'Economy', '2025-08-06 17:30:00', 'Birmingham'),
(67, 'Eva López', 30, 'Female', 'Spain', 'IB678', '8D', 'Business', '2025-08-07 16:15:00', 'Lisbon'),
(68, 'Hassan Jafari', 43, 'Male', 'Iran', 'IR732', '3F', 'First', '2025-08-08 04:55:00', 'Baku'),
(69, 'Marta Kowalska', 28, 'Female', 'Poland', 'LO150', '17C', 'Economy', '2025-08-09 11:25:00', 'Stockholm'),
(70, 'Trevor Smith', 49, 'Male', 'Canada', 'AC431', '13B', 'Economy', '2025-08-10 15:10:00', 'Denver'),
(71, 'Thandi Dlamini', 33, 'Female', 'South Africa', 'SA303', '10F', 'Economy', '2025-08-11 08:30:00', 'Lusaka'),
(72, 'Aliyah Noor', 29, 'Female', 'Pakistan', 'PK789', '15D', 'Economy', '2025-08-12 18:20:00', 'Doha'),
(73, 'Kenji Yamamoto', 50, 'Male', 'Japan', 'NH555', '4E', 'First', '2025-08-13 05:40:00', 'Shanghai'),
(74, 'Isabelle Martin', 36, 'Female', 'France', 'AF990', '12D', 'Economy', '2025-08-14 20:00:00', 'Barcelona'),
(75, 'Leonardo Fernández', 40, 'Male', 'Argentina', 'AR222', '6C', 'Business', '2025-08-15 09:05:00', 'Panama City'),
(76, 'Amina Yusuf', 26, 'Female', 'Nigeria', 'KL900', '22B', 'Economy', '2025-08-16 11:30:00', 'Oslo'),
(77, 'Björn Andersson', 44, 'Male', 'Sweden', 'SK705', '8C', 'Business', '2025-08-17 07:20:00', 'Reykjavik'),
(78, 'Lina Haddad', 31, 'Female', 'Jordan', 'RJ315', '14D', 'Economy', '2025-08-18 13:00:00', 'Rome'),
(79, 'Juan Perez', 39, 'Male', 'Chile', 'LA509', '19A', 'Economy', '2025-08-19 17:45:00', 'Madrid'),
(80, 'Emily Thompson', 29, 'Female', 'Australia', 'QF402', '6E', 'Business', '2025-08-20 12:00:00', 'Auckland'),
(81, 'Ahmed Said', 35, 'Male', 'Egypt', 'MS845', '11D', 'Economy', '2025-08-21 08:15:00', 'Nairobi'),
(82, 'Maria Gonzalez', 46, 'Female', 'Spain', 'IB602', '13C', 'Economy', '2025-08-22 09:55:00', 'Valencia'),
(83, 'John Smith', 52, 'Male', 'USA', 'DL780', '2A', 'First', '2025-08-23 06:30:00', 'Chicago'),
(84, 'Sana Rahman', 30, 'Female', 'Bangladesh', 'BG880', '17B', 'Economy', '2025-08-24 20:10:00', 'Colombo'),
(85, 'Robert Lee', 38, 'Male', 'South Korea', 'KE234', '5D', 'Business', '2025-08-25 10:40:00', 'Seoul'),
(86, 'Emma Dubois', 27, 'Female', 'France', 'AF733', '15A', 'Economy', '2025-08-26 14:00:00', 'Brussels'),
(87, 'Ivan Petrov', 40, 'Male', 'Russia', 'SU614', '3D', 'First', '2025-08-27 05:55:00', 'Helsinki'),
(88, 'Grace Kim', 34, 'Female', 'USA', 'AA654', '9F', 'Economy', '2025-08-28 16:25:00', 'San Francisco'),
(89, 'Omar Al-Farsi', 42, 'Male', 'Oman', 'WY411', '4A', 'First', '2025-08-29 07:10:00', 'Muscat'),
(90, 'Lucia Rossi', 33, 'Female', 'Italy', 'AZ843', '18D', 'Economy', '2025-08-30 11:20:00', 'Vienna'),
(91, 'Peter Johnson', 37, 'Male', 'UK', 'BA231', '12F', 'Economy', '2025-08-31 18:00:00', 'Berlin'),
(92, 'Naoko Tanaka', 29, 'Female', 'Japan', 'JL678', '16A', 'Economy', '2025-09-01 13:45:00', 'Osaka'),
(93, 'Ali Reza', 50, 'Male', 'Iran', 'IR701', '7C', 'Business', '2025-09-02 09:00:00', 'Tashkent'),
(94, 'Natalie Becker', 36, 'Female', 'Germany', 'LH765', '10B', 'Economy', '2025-09-03 06:00:00', 'Bratislava'),
(95, 'David Chen', 41, 'Male', 'Taiwan', 'BR112', '21C', 'Economy', '2025-09-04 14:20:00', 'Kuala Lumpur'),
(96, 'Yara Elmasry', 28, 'Female', 'Egypt', 'MS912', '20F', 'Economy', '2025-09-05 19:30:00', 'Casablanca'),
(97, 'Samuel Boateng', 43, 'Male', 'Ghana', 'ET702', '2B', 'First', '2025-09-06 08:45:00', 'Abidjan'),
(98, 'Carla Mendes', 32, 'Female', 'Portugal', 'TP320', '15C', 'Economy', '2025-09-07 10:10:00', 'Geneva'),
(99, 'Ravi Narayan', 39, 'Male', 'India', 'AI119', '13A', 'Economy', '2025-09-08 12:50:00', 'Kuwait'),
(100, 'Sophie Müller', 31, 'Female', 'Germany', 'LH544', '8A', 'Business', '2025-09-09 07:15:00', 'Cape Town');

   mysql+pymysql://mariaz:***@127.0.0.1/test
 * mysql+pymysql://mariaz:***@localhost/test
0 rows affected.
100 rows affected.

[]

In [11]:
%sql select * from aero_passengers # Use prefix %sql at the beginning to use sql like syntaxes #

 * mysql+pymysql://mariaz:***@localhost/test
105 rows affected.

[(1, 'Alice Johnson', 34, 'Female', 'USA', 'AA123', '12A', 'Economy', datetime.datetime(2025, 6, 1, 8, 0), 'London'),
 (2, 'Mohammed Khan', 45, 'Male', 'UAE', 'EK202', '3B', 'Business', datetime.datetime(2025, 6, 2, 13, 45), 'New York'),
 (3, 'Ling Wei', 29, 'Female', 'China', 'CA985', '18C', 'Economy', datetime.datetime(2025, 6, 3, 19, 30), 'Beijing'),
 (4, 'Carlos Ruiz', 51, 'Male', 'Mexico', 'AM450', '6F', 'First', datetime.datetime(2025, 6, 4, 6, 15), 'Toronto'),
 (5, 'Ananya Patel', 27, 'Female', 'India', 'AI101', '21D', 'Economy', datetime.datetime(2025, 6, 5, 9, 0), 'Singapore'),
 (6, 'Noah Rhodes', 61, 'Male', 'France', 'LH789', '3A', 'Economy', datetime.datetime(2025, 6, 7, 7, 32), 'Sydney'),
 (7, 'Angie Henderson', 19, 'Male', 'Japan', 'LH789', '15D', 'First', datetime.datetime(2025, 6, 9, 0, 48), 'Beijing'),
 (8, 'Daniel Wagner', 62, 'Female', 'UK', 'AI101', '10B', 'Business', datetime.datetime(2025, 6, 4, 2, 24), 'New York'),
 (9, 'Cristian Santos', 40, 'Female', 'France', 'AI101', '3F', 'Business', datetime.datetime(2025, 6, 18, 3, 59), 'Frankfurt'),
 (10, 'Connie Lawrence', 23, 'Female', 'France', 'BA256', '37B', 'First', datetime.datetime(2025, 6, 3, 1, 42), 'Toronto'),
 (11, 'Priya Ramesh', 22, 'Female', 'India', 'AI890', '15A', 'Economy', datetime.datetime(2025, 6, 11, 5, 50), 'Dubai'),
 (12, 'Oluwaseun Adewale', 40, 'Male', 'Nigeria', 'ET701', '6B', 'First', datetime.datetime(2025, 6, 12, 12, 10), 'Johannesburg'),
 (13, 'Anna Kowalska', 30, 'Female', 'Poland', 'LO223', '10C', 'Economy', datetime.datetime(2025, 6, 13, 11, 30), 'Madrid'),
 (14, 'Lucas Martinez', 28, 'Male', 'Argentina', 'AR444', '3C', 'Business', datetime.datetime(2025, 6, 14, 9, 0), 'Miami'),
 (15, 'Nadia Petrova', 33, 'Female', 'Russia', 'SU605', '5E', 'First', datetime.datetime(2025, 6, 15, 17, 20), 'Istanbul'),
 (16, 'Takashi Yamamoto', 41, 'Male', 'Japan', 'JL800', '11A', 'Economy', datetime.datetime(2025, 6, 16, 8, 45), 'Seoul'),
 (17, 'Emily Brown', 25, 'Female', 'Canada', 'AC125', '16B', 'Economy', datetime.datetime(2025, 6, 17, 19, 10), 'Chicago'),
 (18, 'Zhang Li', 37, 'Male', 'China', 'MU588', '8C', 'Business', datetime.datetime(2025, 6, 18, 7, 0), 'San Francisco'),
 (19, 'Isabella Rossi', 29, 'Female', 'Italy', 'AZ407', '21F', 'Economy', datetime.datetime(2025, 6, 19, 12, 15), 'Barcelona'),
 (20, 'Ahmed El-Sayed', 50, 'Male', 'Egypt', 'MS985', '4D', 'First', datetime.datetime(2025, 6, 20, 3, 30), 'Doha'),
 (21, 'Yara Haddad', 34, 'Female', 'Lebanon', 'ME432', '19C', 'Economy', datetime.datetime(2025, 6, 21, 6, 45), 'Vienna'),
 (22, 'George Papadopoulos', 39, 'Male', 'Greece', 'OA199', '13E', 'Business', datetime.datetime(2025, 6, 22, 15, 20), 'Amsterdam'),
 (23, 'Sofia Svensson', 27, 'Female', 'Sweden', 'SK222', '10A', 'Economy', datetime.datetime(2025, 6, 23, 17, 50), 'Copenhagen'),
 (24, 'Igor Novak', 31, 'Male', 'Croatia', 'OU330', '22B', 'Economy', datetime.datetime(2025, 6, 24, 5, 40), 'Brussels'),
 (25, 'Maria Gonzalez', 36, 'Female', 'Spain', 'IB204', '6C', 'Business', datetime.datetime(2025, 6, 25, 21, 0), 'Zurich'),
 (26, 'Daniel Berg', 43, 'Male', 'Norway', 'DY101', '12E', 'Economy', datetime.datetime(2025, 6, 26, 8, 0), 'Stockholm'),
 (27, 'Mei Chen', 24, 'Female', 'Taiwan', 'BR711', '18D', 'Economy', datetime.datetime(2025, 6, 27, 11, 25), 'Bangkok'),
 (28, 'Omar Farouk', 48, 'Male', 'Saudi Arabia', 'SV402', '7B', 'Business', datetime.datetime(2025, 6, 28, 13, 35), 'Jakarta'),
 (29, 'Tatiana Ivanova', 32, 'Female', 'Russia', 'SU712', '5A', 'First', datetime.datetime(2025, 6, 29, 9, 55), 'Cairo'),
 (30, 'William Davis', 29, 'Male', 'USA', 'DL330', '14D', 'Economy', datetime.datetime(2025, 6, 30, 7, 40), 'Lisbon'),
 (31, 'Helena Kruger', 35, 'Female', 'Germany', 'LH509', '3A', 'Business', datetime.datetime(2025, 7, 1, 10, 30), 'Prague'),
 (32, 'Luis Pereira', 44, 'Male', 'Brazil', 'JJ709', '9C', 'Economy', datetime.datetime(2025, 7, 2, 6, 20), 'Panama City'),
 (33, 'Noor Abbas', 28, 'Female', 'Jordan', 'RJ115', '15F', 'Economy', datetime.datetime(2025, 7, 3, 18, 0), 'Budapest'),
 (34, 'Jacob Lee', 33, 'Male', 'Singapore', 'SQ003', '2D', 'First', datetime.datetime(2025, 7, 4, 12, 45), 'Manila'),
 (35, 'Chloe Martin', 30, 'Female', 'France', 'AF430', '11C', 'Economy', datetime.datetime(2025, 7, 5, 16, 10), 'Vienna'),
 (36, 'Fatima Al Mansoori', 26, 'Female', 'UAE', 'EY315', '14B', 'Economy', datetime.datetime(2025, 7, 6, 9, 0), 'Oslo'),
 (37, 'Henry Thompson', 46, 'Male', 'UK', 'BA225', '7D', 'Business', datetime.datetime(2025, 7, 7, 11, 15), 'Geneva'),
 (38, 'Min-Jun Park', 38, 'Male', 'South Korea', 'KE120', '8E', 'Business', datetime.datetime(2025, 7, 8, 4, 55), 'Rome'),
 (39, 'Natalie Schmidt', 30, 'Female', 'Germany', 'LH234', '21A', 'Economy', datetime.datetime(2025, 7, 9, 15, 40), 'Reykjavik'),
 (40, 'Samuel Johnson', 42, 'Male', 'USA', 'UA560', '10D', 'Economy', datetime.datetime(2025, 7, 10, 17, 30), 'Mexico City'),
 (41, 'Aiko Tanaka', 33, 'Female', 'Japan', 'NH123', '5B', 'Business', datetime.datetime(2025, 7, 11, 13, 0), 'Taipei'),
 (42, 'Ali Reza', 45, 'Male', 'Iran', 'IR305', '3C', 'First', datetime.datetime(2025, 7, 12, 7, 10), 'Istanbul'),
 (43, 'Laura Jensen', 28, 'Female', 'Denmark', 'SK310', '22D', 'Economy', datetime.datetime(2025, 7, 13, 10, 20), 'Warsaw'),
 (44, 'Peter Ndlovu', 50, 'Male', 'Zimbabwe', 'KQ487', '19F', 'Economy', datetime.datetime(2025, 7, 14, 6, 35), 'Cape Town'),
 (45, 'Jasmine Ng', 31, 'Female', 'Malaysia', 'MH881', '12C', 'Economy', datetime.datetime(2025, 7, 15, 14, 50), 'Seoul'),
 (46, 'Victor Almeida', 39, 'Male', 'Portugal', 'TP208', '6A', 'Business', datetime.datetime(2025, 7, 16, 16, 25), 'Hamburg'),
 (47, 'Lucia Romano', 29, 'Female', 'Italy', 'AZ102', '17E', 'Economy', datetime.datetime(2025, 7, 17, 18, 40), 'Brussels'),
 (48, 'Jorge Castillo', 47, 'Male', 'Chile', 'LA721', '9F', 'Economy', datetime.datetime(2025, 7, 18, 8, 55), 'Havana'),
 (49, 'Anastasia Petrova', 34, 'Female', 'Russia', 'SU806', '11D', 'Economy', datetime.datetime(2025, 7, 19, 12, 35), 'Moscow'),
 (50, 'David Kim', 36, 'Male', 'USA', 'DL678', '2A', 'First', datetime.datetime(2025, 7, 20, 9, 45), 'Sydney'),
 (51, 'Emma Wilson', 27, 'Female', 'Australia', 'QF112', '20B', 'Economy', datetime.datetime(2025, 7, 21, 19, 0), 'Wellington'),
 (52, 'Rajesh Kumar', 44, 'Male', 'India', 'AI202', '13C', 'Business', datetime.datetime(2025, 7, 22, 5, 20), 'Berlin'),
 (53, 'Hannah Müller', 31, 'Female', 'Germany', 'LH404', '15E', 'Economy', datetime.datetime(2025, 7, 23, 17, 10), 'Madrid'),
 (54, 'Andres Vega', 40, 'Male', 'Colombia', 'AV155', '18A', 'Economy', datetime.datetime(2025, 7, 24, 20, 30), 'Quito'),
 (55, 'Noura Al Sabah', 25, 'Female', 'Kuwait', 'KU718', '4F', 'Business', datetime.datetime(2025, 7, 25, 11, 5), 'Casablanca'),
 (56, 'Marcus Lindberg', 41, 'Male', 'Sweden', 'SK876', '16C', 'Economy', datetime.datetime(2025, 7, 26, 7, 30), 'Prague'),
 (57, 'Isabella Costa', 35, 'Female', 'Brazil', 'JJ210', '14A', 'Economy', datetime.datetime(2025, 7, 27, 15, 20), 'Montevideo'),
 (58, 'Zhang Wei', 32, 'Male', 'China', 'CA750', '22F', 'Economy', datetime.datetime(2025, 7, 28, 10, 15), 'Bangkok'),
 (59, 'Sofia Ivanova', 29, 'Female', 'Russia', 'SU915', '6B', 'Business', datetime.datetime(2025, 7, 29, 13, 40), 'Athens'),
 (60, 'George Brown', 37, 'Male', 'USA', 'UA112', '5C', 'Business', datetime.datetime(2025, 7, 30, 8, 0), 'Paris'),
 (61, 'Chiara Bianchi', 27, 'Female', 'Italy', 'AZ321', '20E', 'Economy', datetime.datetime(2025, 8, 1, 14, 0), 'Amsterdam'),
 (62, 'Kofi Mensah', 48, 'Male', 'Ghana', 'ET903', '9D', 'Economy', datetime.datetime(2025, 8, 2, 6, 45), 'Addis Ababa'),
 (63, 'Yuki Nakamura', 36, 'Female', 'Japan', 'JL710', '18B', 'Economy', datetime.datetime(2025, 8, 3, 19, 50), 'Hong Kong'),
 (64, 'Tomáš Novák', 39, 'Male', 'Czech Republic', 'OK612', '11A', 'Economy', datetime.datetime(2025, 8, 4, 9, 30), 'Zurich'),
 (65, 'Amira Hassan', 31, 'Female', 'Egypt', 'MS502', '7A', 'Business', datetime.datetime(2025, 8, 5, 12, 10), 'Cairo'),
 (66, 'Daniel O’Connor', 34, 'Male', 'Ireland', 'EI234', '19E', 'Economy', datetime.datetime(2025, 8, 6, 17, 30), 'Birmingham'),
 (67, 'Eva López', 30, 'Female', 'Spain', 'IB678', '8D', 'Business', datetime.datetime(2025, 8, 7, 16, 15), 'Lisbon'),
 (68, 'Hassan Jafari', 43, 'Male', 'Iran', 'IR732', '3F', 'First', datetime.datetime(2025, 8, 8, 4, 55), 'Baku'),
 (69, 'Marta Kowalska', 28, 'Female', 'Poland', 'LO150', '17C', 'Economy', datetime.datetime(2025, 8, 9, 11, 25), 'Stockholm'),
 (70, 'Trevor Smith', 49, 'Male', 'Canada', 'AC431', '13B', 'Economy', datetime.datetime(2025, 8, 10, 15, 10), 'Denver'),
 (71, 'Thandi Dlamini', 33, 'Female', 'South Africa', 'SA303', '10F', 'Economy', datetime.datetime(2025, 8, 11, 8, 30), 'Lusaka'),
 (72, 'Aliyah Noor', 29, 'Female', 'Pakistan', 'PK789', '15D', 'Economy', datetime.datetime(2025, 8, 12, 18, 20), 'Doha'),
 (73, 'Kenji Yamamoto', 50, 'Male', 'Japan', 'NH555', '4E', 'First', datetime.datetime(2025, 8, 13, 5, 40), 'Shanghai'),
 (74, 'Isabelle Martin', 36, 'Female', 'France', 'AF990', '12D', 'Economy', datetime.datetime(2025, 8, 14, 20, 0), 'Barcelona'),
 (75, 'Leonardo Fernández', 40, 'Male', 'Argentina', 'AR222', '6C', 'Business', datetime.datetime(2025, 8, 15, 9, 5), 'Panama City'),
 (76, 'Amina Yusuf', 26, 'Female', 'Nigeria', 'KL900', '22B', 'Economy', datetime.datetime(2025, 8, 16, 11, 30), 'Oslo'),
 (77, 'Björn Andersson', 44, 'Male', 'Sweden', 'SK705', '8C', 'Business', datetime.datetime(2025, 8, 17, 7, 20), 'Reykjavik'),
 (78, 'Lina Haddad', 31, 'Female', 'Jordan', 'RJ315', '14D', 'Economy', datetime.datetime(2025, 8, 18, 13, 0), 'Rome'),
 (79, 'Juan Perez', 39, 'Male', 'Chile', 'LA509', '19A', 'Economy', datetime.datetime(2025, 8, 19, 17, 45), 'Madrid'),
 (80, 'Emily Thompson', 29, 'Female', 'Australia', 'QF402', '6E', 'Business', datetime.datetime(2025, 8, 20, 12, 0), 'Auckland'),
 (81, 'Ahmed Said', 35, 'Male', 'Egypt', 'MS845', '11D', 'Economy', datetime.datetime(2025, 8, 21, 8, 15), 'Nairobi'),
 (82, 'Maria Gonzalez', 46, 'Female', 'Spain', 'IB602', '13C', 'Economy', datetime.datetime(2025, 8, 22, 9, 55), 'Valencia'),
 (83, 'John Smith', 52, 'Male', 'USA', 'DL780', '2A', 'First', datetime.datetime(2025, 8, 23, 6, 30), 'Chicago'),
 (84, 'Sana Rahman', 30, 'Female', 'Bangladesh', 'BG880', '17B', 'Economy', datetime.datetime(2025, 8, 24, 20, 10), 'Colombo'),
 (85, 'Robert Lee', 38, 'Male', 'South Korea', 'KE234', '5D', 'Business', datetime.datetime(2025, 8, 25, 10, 40), 'Seoul'),
 (86, 'Emma Dubois', 27, 'Female', 'France', 'AF733', '15A', 'Economy', datetime.datetime(2025, 8, 26, 14, 0), 'Brussels'),
 (87, 'Ivan Petrov', 40, 'Male', 'Russia', 'SU614', '3D', 'First', datetime.datetime(2025, 8, 27, 5, 55), 'Helsinki'),
 (88, 'Grace Kim', 34, 'Female', 'USA', 'AA654', '9F', 'Economy', datetime.datetime(2025, 8, 28, 16, 25), 'San Francisco'),
 (89, 'Omar Al-Farsi', 42, 'Male', 'Oman', 'WY411', '4A', 'First', datetime.datetime(2025, 8, 29, 7, 10), 'Muscat'),
 (90, 'Lucia Rossi', 33, 'Female', 'Italy', 'AZ843', '18D', 'Economy', datetime.datetime(2025, 8, 30, 11, 20), 'Vienna'),
 (91, 'Peter Johnson', 37, 'Male', 'UK', 'BA231', '12F', 'Economy', datetime.datetime(2025, 8, 31, 18, 0), 'Berlin'),
 (92, 'Naoko Tanaka', 29, 'Female', 'Japan', 'JL678', '16A', 'Economy', datetime.datetime(2025, 9, 1, 13, 45), 'Osaka'),
 (93, 'Ali Reza', 50, 'Male', 'Iran', 'IR701', '7C', 'Business', datetime.datetime(2025, 9, 2, 9, 0), 'Tashkent'),
 (94, 'Natalie Becker', 36, 'Female', 'Germany', 'LH765', '10B', 'Economy', datetime.datetime(2025, 9, 3, 6, 0), 'Bratislava'),
 (95, 'David Chen', 41, 'Male', 'Taiwan', 'BR112', '21C', 'Economy', datetime.datetime(2025, 9, 4, 14, 20), 'Kuala Lumpur'),
 (96, 'Yara Elmasry', 28, 'Female', 'Egypt', 'MS912', '20F', 'Economy', datetime.datetime(2025, 9, 5, 19, 30), 'Casablanca'),
 (97, 'Samuel Boateng', 43, 'Male', 'Ghana', 'ET702', '2B', 'First', datetime.datetime(2025, 9, 6, 8, 45), 'Abidjan'),
 (98, 'Carla Mendes', 32, 'Female', 'Portugal', 'TP320', '15C', 'Economy', datetime.datetime(2025, 9, 7, 10, 10), 'Geneva'),
 (99, 'Ravi Narayan', 39, 'Male', 'India', 'AI119', '13A', 'Economy', datetime.datetime(2025, 9, 8, 12, 50), 'Kuwait'),
 (100, 'Sophie Müller', 31, 'Female', 'Germany', 'LH544', '8A', 'Business', datetime.datetime(2025, 9, 9, 7, 15), 'Cape Town'),
 (111, 'Test User', None, '', 'NA', None, '', 'NA', None, ''),
 (112, 'Test User1', None, 'NA', '', '', None, 'Economy', None, 'NA'),
 (113, 'Test User2', 0, '', 'NA', None, '', None, None, ''),
 (114, 'Test User3', None, None, None, 'NA', 'NA', '', None, ''),
 (115, 'Test User4', None, '', '', '', '', 'NA', None, None)]

In [83]:
result = %sql select * from aero_passengers # We're assigning a variable and laoding the sql query into it #
result # This would be helpful in creating dataframe structure to perform complex operations on Jupyter notebook versus Excel #

   mysql+pymysql://mariaz:***@127.0.0.1/test
 * mysql+pymysql://mariaz:***@localhost/test
100 rows affected.

[(1, 'Alice Johnson', 34, 'Female', 'USA', 'AA123', '12A', 'Economy', datetime.datetime(2025, 6, 1, 8, 0), 'London'),
 (2, 'Mohammed Khan', 45, 'Male', 'UAE', 'EK202', '3B', 'Business', datetime.datetime(2025, 6, 2, 13, 45), 'New York'),
 (3, 'Ling Wei', 29, 'Female', 'China', 'CA985', '18C', 'Economy', datetime.datetime(2025, 6, 3, 19, 30), 'Beijing'),
 (4, 'Carlos Ruiz', 51, 'Male', 'Mexico', 'AM450', '6F', 'First', datetime.datetime(2025, 6, 4, 6, 15), 'Toronto'),
 (5, 'Ananya Patel', 27, 'Female', 'India', 'AI101', '21D', 'Economy', datetime.datetime(2025, 6, 5, 9, 0), 'Singapore'),
 (6, 'Noah Rhodes', 61, 'Male', 'France', 'LH789', '3A', 'Economy', datetime.datetime(2025, 6, 7, 7, 32), 'Sydney'),
 (7, 'Angie Henderson', 19, 'Male', 'Japan', 'LH789', '15D', 'First', datetime.datetime(2025, 6, 9, 0, 48), 'Beijing'),
 (8, 'Daniel Wagner', 62, 'Female', 'UK', 'AI101', '10B', 'Business', datetime.datetime(2025, 6, 4, 2, 24), 'New York'),
 (9, 'Cristian Santos', 40, 'Female', 'France', 'AI101', '3F', 'Business', datetime.datetime(2025, 6, 18, 3, 59), 'Frankfurt'),
 (10, 'Connie Lawrence', 23, 'Female', 'France', 'BA256', '37B', 'First', datetime.datetime(2025, 6, 3, 1, 42), 'Toronto'),
 (11, 'Priya Ramesh', 22, 'Female', 'India', 'AI890', '15A', 'Economy', datetime.datetime(2025, 6, 11, 5, 50), 'Dubai'),
 (12, 'Oluwaseun Adewale', 40, 'Male', 'Nigeria', 'ET701', '6B', 'First', datetime.datetime(2025, 6, 12, 12, 10), 'Johannesburg'),
 (13, 'Anna Kowalska', 30, 'Female', 'Poland', 'LO223', '10C', 'Economy', datetime.datetime(2025, 6, 13, 11, 30), 'Madrid'),
 (14, 'Lucas Martinez', 28, 'Male', 'Argentina', 'AR444', '3C', 'Business', datetime.datetime(2025, 6, 14, 9, 0), 'Miami'),
 (15, 'Nadia Petrova', 33, 'Female', 'Russia', 'SU605', '5E', 'First', datetime.datetime(2025, 6, 15, 17, 20), 'Istanbul'),
 (16, 'Takashi Yamamoto', 41, 'Male', 'Japan', 'JL800', '11A', 'Economy', datetime.datetime(2025, 6, 16, 8, 45), 'Seoul'),
 (17, 'Emily Brown', 25, 'Female', 'Canada', 'AC125', '16B', 'Economy', datetime.datetime(2025, 6, 17, 19, 10), 'Chicago'),
 (18, 'Zhang Li', 37, 'Male', 'China', 'MU588', '8C', 'Business', datetime.datetime(2025, 6, 18, 7, 0), 'San Francisco'),
 (19, 'Isabella Rossi', 29, 'Female', 'Italy', 'AZ407', '21F', 'Economy', datetime.datetime(2025, 6, 19, 12, 15), 'Barcelona'),
 (20, 'Ahmed El-Sayed', 50, 'Male', 'Egypt', 'MS985', '4D', 'First', datetime.datetime(2025, 6, 20, 3, 30), 'Doha'),
 (21, 'Yara Haddad', 34, 'Female', 'Lebanon', 'ME432', '19C', 'Economy', datetime.datetime(2025, 6, 21, 6, 45), 'Vienna'),
 (22, 'George Papadopoulos', 39, 'Male', 'Greece', 'OA199', '13E', 'Business', datetime.datetime(2025, 6, 22, 15, 20), 'Amsterdam'),
 (23, 'Sofia Svensson', 27, 'Female', 'Sweden', 'SK222', '10A', 'Economy', datetime.datetime(2025, 6, 23, 17, 50), 'Copenhagen'),
 (24, 'Igor Novak', 31, 'Male', 'Croatia', 'OU330', '22B', 'Economy', datetime.datetime(2025, 6, 24, 5, 40), 'Brussels'),
 (25, 'Maria Gonzalez', 36, 'Female', 'Spain', 'IB204', '6C', 'Business', datetime.datetime(2025, 6, 25, 21, 0), 'Zurich'),
 (26, 'Daniel Berg', 43, 'Male', 'Norway', 'DY101', '12E', 'Economy', datetime.datetime(2025, 6, 26, 8, 0), 'Stockholm'),
 (27, 'Mei Chen', 24, 'Female', 'Taiwan', 'BR711', '18D', 'Economy', datetime.datetime(2025, 6, 27, 11, 25), 'Bangkok'),
 (28, 'Omar Farouk', 48, 'Male', 'Saudi Arabia', 'SV402', '7B', 'Business', datetime.datetime(2025, 6, 28, 13, 35), 'Jakarta'),
 (29, 'Tatiana Ivanova', 32, 'Female', 'Russia', 'SU712', '5A', 'First', datetime.datetime(2025, 6, 29, 9, 55), 'Cairo'),
 (30, 'William Davis', 29, 'Male', 'USA', 'DL330', '14D', 'Economy', datetime.datetime(2025, 6, 30, 7, 40), 'Lisbon'),
 (31, 'Helena Kruger', 35, 'Female', 'Germany', 'LH509', '3A', 'Business', datetime.datetime(2025, 7, 1, 10, 30), 'Prague'),
 (32, 'Luis Pereira', 44, 'Male', 'Brazil', 'JJ709', '9C', 'Economy', datetime.datetime(2025, 7, 2, 6, 20), 'Panama City'),
 (33, 'Noor Abbas', 28, 'Female', 'Jordan', 'RJ115', '15F', 'Economy', datetime.datetime(2025, 7, 3, 18, 0), 'Budapest'),
 (34, 'Jacob Lee', 33, 'Male', 'Singapore', 'SQ003', '2D', 'First', datetime.datetime(2025, 7, 4, 12, 45), 'Manila'),
 (35, 'Chloe Martin', 30, 'Female', 'France', 'AF430', '11C', 'Economy', datetime.datetime(2025, 7, 5, 16, 10), 'Vienna'),
 (36, 'Fatima Al Mansoori', 26, 'Female', 'UAE', 'EY315', '14B', 'Economy', datetime.datetime(2025, 7, 6, 9, 0), 'Oslo'),
 (37, 'Henry Thompson', 46, 'Male', 'UK', 'BA225', '7D', 'Business', datetime.datetime(2025, 7, 7, 11, 15), 'Geneva'),
 (38, 'Min-Jun Park', 38, 'Male', 'South Korea', 'KE120', '8E', 'Business', datetime.datetime(2025, 7, 8, 4, 55), 'Rome'),
 (39, 'Natalie Schmidt', 30, 'Female', 'Germany', 'LH234', '21A', 'Economy', datetime.datetime(2025, 7, 9, 15, 40), 'Reykjavik'),
 (40, 'Samuel Johnson', 42, 'Male', 'USA', 'UA560', '10D', 'Economy', datetime.datetime(2025, 7, 10, 17, 30), 'Mexico City'),
 (41, 'Aiko Tanaka', 33, 'Female', 'Japan', 'NH123', '5B', 'Business', datetime.datetime(2025, 7, 11, 13, 0), 'Taipei'),
 (42, 'Ali Reza', 45, 'Male', 'Iran', 'IR305', '3C', 'First', datetime.datetime(2025, 7, 12, 7, 10), 'Istanbul'),
 (43, 'Laura Jensen', 28, 'Female', 'Denmark', 'SK310', '22D', 'Economy', datetime.datetime(2025, 7, 13, 10, 20), 'Warsaw'),
 (44, 'Peter Ndlovu', 50, 'Male', 'Zimbabwe', 'KQ487', '19F', 'Economy', datetime.datetime(2025, 7, 14, 6, 35), 'Cape Town'),
 (45, 'Jasmine Ng', 31, 'Female', 'Malaysia', 'MH881', '12C', 'Economy', datetime.datetime(2025, 7, 15, 14, 50), 'Seoul'),
 (46, 'Victor Almeida', 39, 'Male', 'Portugal', 'TP208', '6A', 'Business', datetime.datetime(2025, 7, 16, 16, 25), 'Hamburg'),
 (47, 'Lucia Romano', 29, 'Female', 'Italy', 'AZ102', '17E', 'Economy', datetime.datetime(2025, 7, 17, 18, 40), 'Brussels'),
 (48, 'Jorge Castillo', 47, 'Male', 'Chile', 'LA721', '9F', 'Economy', datetime.datetime(2025, 7, 18, 8, 55), 'Havana'),
 (49, 'Anastasia Petrova', 34, 'Female', 'Russia', 'SU806', '11D', 'Economy', datetime.datetime(2025, 7, 19, 12, 35), 'Moscow'),
 (50, 'David Kim', 36, 'Male', 'USA', 'DL678', '2A', 'First', datetime.datetime(2025, 7, 20, 9, 45), 'Sydney'),
 (51, 'Emma Wilson', 27, 'Female', 'Australia', 'QF112', '20B', 'Economy', datetime.datetime(2025, 7, 21, 19, 0), 'Wellington'),
 (52, 'Rajesh Kumar', 44, 'Male', 'India', 'AI202', '13C', 'Business', datetime.datetime(2025, 7, 22, 5, 20), 'Berlin'),
 (53, 'Hannah Müller', 31, 'Female', 'Germany', 'LH404', '15E', 'Economy', datetime.datetime(2025, 7, 23, 17, 10), 'Madrid'),
 (54, 'Andres Vega', 40, 'Male', 'Colombia', 'AV155', '18A', 'Economy', datetime.datetime(2025, 7, 24, 20, 30), 'Quito'),
 (55, 'Noura Al Sabah', 25, 'Female', 'Kuwait', 'KU718', '4F', 'Business', datetime.datetime(2025, 7, 25, 11, 5), 'Casablanca'),
 (56, 'Marcus Lindberg', 41, 'Male', 'Sweden', 'SK876', '16C', 'Economy', datetime.datetime(2025, 7, 26, 7, 30), 'Prague'),
 (57, 'Isabella Costa', 35, 'Female', 'Brazil', 'JJ210', '14A', 'Economy', datetime.datetime(2025, 7, 27, 15, 20), 'Montevideo'),
 (58, 'Zhang Wei', 32, 'Male', 'China', 'CA750', '22F', 'Economy', datetime.datetime(2025, 7, 28, 10, 15), 'Bangkok'),
 (59, 'Sofia Ivanova', 29, 'Female', 'Russia', 'SU915', '6B', 'Business', datetime.datetime(2025, 7, 29, 13, 40), 'Athens'),
 (60, 'George Brown', 37, 'Male', 'USA', 'UA112', '5C', 'Business', datetime.datetime(2025, 7, 30, 8, 0), 'Paris'),
 (61, 'Chiara Bianchi', 27, 'Female', 'Italy', 'AZ321', '20E', 'Economy', datetime.datetime(2025, 8, 1, 14, 0), 'Amsterdam'),
 (62, 'Kofi Mensah', 48, 'Male', 'Ghana', 'ET903', '9D', 'Economy', datetime.datetime(2025, 8, 2, 6, 45), 'Addis Ababa'),
 (63, 'Yuki Nakamura', 36, 'Female', 'Japan', 'JL710', '18B', 'Economy', datetime.datetime(2025, 8, 3, 19, 50), 'Hong Kong'),
 (64, 'Tomáš Novák', 39, 'Male', 'Czech Republic', 'OK612', '11A', 'Economy', datetime.datetime(2025, 8, 4, 9, 30), 'Zurich'),
 (65, 'Amira Hassan', 31, 'Female', 'Egypt', 'MS502', '7A', 'Business', datetime.datetime(2025, 8, 5, 12, 10), 'Cairo'),
 (66, 'Daniel O’Connor', 34, 'Male', 'Ireland', 'EI234', '19E', 'Economy', datetime.datetime(2025, 8, 6, 17, 30), 'Birmingham'),
 (67, 'Eva López', 30, 'Female', 'Spain', 'IB678', '8D', 'Business', datetime.datetime(2025, 8, 7, 16, 15), 'Lisbon'),
 (68, 'Hassan Jafari', 43, 'Male', 'Iran', 'IR732', '3F', 'First', datetime.datetime(2025, 8, 8, 4, 55), 'Baku'),
 (69, 'Marta Kowalska', 28, 'Female', 'Poland', 'LO150', '17C', 'Economy', datetime.datetime(2025, 8, 9, 11, 25), 'Stockholm'),
 (70, 'Trevor Smith', 49, 'Male', 'Canada', 'AC431', '13B', 'Economy', datetime.datetime(2025, 8, 10, 15, 10), 'Denver'),
 (71, 'Thandi Dlamini', 33, 'Female', 'South Africa', 'SA303', '10F', 'Economy', datetime.datetime(2025, 8, 11, 8, 30), 'Lusaka'),
 (72, 'Aliyah Noor', 29, 'Female', 'Pakistan', 'PK789', '15D', 'Economy', datetime.datetime(2025, 8, 12, 18, 20), 'Doha'),
 (73, 'Kenji Yamamoto', 50, 'Male', 'Japan', 'NH555', '4E', 'First', datetime.datetime(2025, 8, 13, 5, 40), 'Shanghai'),
 (74, 'Isabelle Martin', 36, 'Female', 'France', 'AF990', '12D', 'Economy', datetime.datetime(2025, 8, 14, 20, 0), 'Barcelona'),
 (75, 'Leonardo Fernández', 40, 'Male', 'Argentina', 'AR222', '6C', 'Business', datetime.datetime(2025, 8, 15, 9, 5), 'Panama City'),
 (76, 'Amina Yusuf', 26, 'Female', 'Nigeria', 'KL900', '22B', 'Economy', datetime.datetime(2025, 8, 16, 11, 30), 'Oslo'),
 (77, 'Björn Andersson', 44, 'Male', 'Sweden', 'SK705', '8C', 'Business', datetime.datetime(2025, 8, 17, 7, 20), 'Reykjavik'),
 (78, 'Lina Haddad', 31, 'Female', 'Jordan', 'RJ315', '14D', 'Economy', datetime.datetime(2025, 8, 18, 13, 0), 'Rome'),
 (79, 'Juan Perez', 39, 'Male', 'Chile', 'LA509', '19A', 'Economy', datetime.datetime(2025, 8, 19, 17, 45), 'Madrid'),
 (80, 'Emily Thompson', 29, 'Female', 'Australia', 'QF402', '6E', 'Business', datetime.datetime(2025, 8, 20, 12, 0), 'Auckland'),
 (81, 'Ahmed Said', 35, 'Male', 'Egypt', 'MS845', '11D', 'Economy', datetime.datetime(2025, 8, 21, 8, 15), 'Nairobi'),
 (82, 'Maria Gonzalez', 46, 'Female', 'Spain', 'IB602', '13C', 'Economy', datetime.datetime(2025, 8, 22, 9, 55), 'Valencia'),
 (83, 'John Smith', 52, 'Male', 'USA', 'DL780', '2A', 'First', datetime.datetime(2025, 8, 23, 6, 30), 'Chicago'),
 (84, 'Sana Rahman', 30, 'Female', 'Bangladesh', 'BG880', '17B', 'Economy', datetime.datetime(2025, 8, 24, 20, 10), 'Colombo'),
 (85, 'Robert Lee', 38, 'Male', 'South Korea', 'KE234', '5D', 'Business', datetime.datetime(2025, 8, 25, 10, 40), 'Seoul'),
 (86, 'Emma Dubois', 27, 'Female', 'France', 'AF733', '15A', 'Economy', datetime.datetime(2025, 8, 26, 14, 0), 'Brussels'),
 (87, 'Ivan Petrov', 40, 'Male', 'Russia', 'SU614', '3D', 'First', datetime.datetime(2025, 8, 27, 5, 55), 'Helsinki'),
 (88, 'Grace Kim', 34, 'Female', 'USA', 'AA654', '9F', 'Economy', datetime.datetime(2025, 8, 28, 16, 25), 'San Francisco'),
 (89, 'Omar Al-Farsi', 42, 'Male', 'Oman', 'WY411', '4A', 'First', datetime.datetime(2025, 8, 29, 7, 10), 'Muscat'),
 (90, 'Lucia Rossi', 33, 'Female', 'Italy', 'AZ843', '18D', 'Economy', datetime.datetime(2025, 8, 30, 11, 20), 'Vienna'),
 (91, 'Peter Johnson', 37, 'Male', 'UK', 'BA231', '12F', 'Economy', datetime.datetime(2025, 8, 31, 18, 0), 'Berlin'),
 (92, 'Naoko Tanaka', 29, 'Female', 'Japan', 'JL678', '16A', 'Economy', datetime.datetime(2025, 9, 1, 13, 45), 'Osaka'),
 (93, 'Ali Reza', 50, 'Male', 'Iran', 'IR701', '7C', 'Business', datetime.datetime(2025, 9, 2, 9, 0), 'Tashkent'),
 (94, 'Natalie Becker', 36, 'Female', 'Germany', 'LH765', '10B', 'Economy', datetime.datetime(2025, 9, 3, 6, 0), 'Bratislava'),
 (95, 'David Chen', 41, 'Male', 'Taiwan', 'BR112', '21C', 'Economy', datetime.datetime(2025, 9, 4, 14, 20), 'Kuala Lumpur'),
 (96, 'Yara Elmasry', 28, 'Female', 'Egypt', 'MS912', '20F', 'Economy', datetime.datetime(2025, 9, 5, 19, 30), 'Casablanca'),
 (97, 'Samuel Boateng', 43, 'Male', 'Ghana', 'ET702', '2B', 'First', datetime.datetime(2025, 9, 6, 8, 45), 'Abidjan'),
 (98, 'Carla Mendes', 32, 'Female', 'Portugal', 'TP320', '15C', 'Economy', datetime.datetime(2025, 9, 7, 10, 10), 'Geneva'),
 (99, 'Ravi Narayan', 39, 'Male', 'India', 'AI119', '13A', 'Economy', datetime.datetime(2025, 9, 8, 12, 50), 'Kuwait'),
 (100, 'Sophie Müller', 31, 'Female', 'Germany', 'LH544', '8A', 'Business', datetime.datetime(2025, 9, 9, 7, 15), 'Cape Town')]

In [85]:
result

[(1, 'Alice Johnson', 34, 'Female', 'USA', 'AA123', '12A', 'Economy', datetime.datetime(2025, 6, 1, 8, 0), 'London'),
 (2, 'Mohammed Khan', 45, 'Male', 'UAE', 'EK202', '3B', 'Business', datetime.datetime(2025, 6, 2, 13, 45), 'New York'),
 (3, 'Ling Wei', 29, 'Female', 'China', 'CA985', '18C', 'Economy', datetime.datetime(2025, 6, 3, 19, 30), 'Beijing'),
 (4, 'Carlos Ruiz', 51, 'Male', 'Mexico', 'AM450', '6F', 'First', datetime.datetime(2025, 6, 4, 6, 15), 'Toronto'),
 (5, 'Ananya Patel', 27, 'Female', 'India', 'AI101', '21D', 'Economy', datetime.datetime(2025, 6, 5, 9, 0), 'Singapore'),
 (6, 'Noah Rhodes', 61, 'Male', 'France', 'LH789', '3A', 'Economy', datetime.datetime(2025, 6, 7, 7, 32), 'Sydney'),
 (7, 'Angie Henderson', 19, 'Male', 'Japan', 'LH789', '15D', 'First', datetime.datetime(2025, 6, 9, 0, 48), 'Beijing'),
 (8, 'Daniel Wagner', 62, 'Female', 'UK', 'AI101', '10B', 'Business', datetime.datetime(2025, 6, 4, 2, 24), 'New York'),
 (9, 'Cristian Santos', 40, 'Female', 'France', 'AI101', '3F', 'Business', datetime.datetime(2025, 6, 18, 3, 59), 'Frankfurt'),
 (10, 'Connie Lawrence', 23, 'Female', 'France', 'BA256', '37B', 'First', datetime.datetime(2025, 6, 3, 1, 42), 'Toronto'),
 (11, 'Priya Ramesh', 22, 'Female', 'India', 'AI890', '15A', 'Economy', datetime.datetime(2025, 6, 11, 5, 50), 'Dubai'),
 (12, 'Oluwaseun Adewale', 40, 'Male', 'Nigeria', 'ET701', '6B', 'First', datetime.datetime(2025, 6, 12, 12, 10), 'Johannesburg'),
 (13, 'Anna Kowalska', 30, 'Female', 'Poland', 'LO223', '10C', 'Economy', datetime.datetime(2025, 6, 13, 11, 30), 'Madrid'),
 (14, 'Lucas Martinez', 28, 'Male', 'Argentina', 'AR444', '3C', 'Business', datetime.datetime(2025, 6, 14, 9, 0), 'Miami'),
 (15, 'Nadia Petrova', 33, 'Female', 'Russia', 'SU605', '5E', 'First', datetime.datetime(2025, 6, 15, 17, 20), 'Istanbul'),
 (16, 'Takashi Yamamoto', 41, 'Male', 'Japan', 'JL800', '11A', 'Economy', datetime.datetime(2025, 6, 16, 8, 45), 'Seoul'),
 (17, 'Emily Brown', 25, 'Female', 'Canada', 'AC125', '16B', 'Economy', datetime.datetime(2025, 6, 17, 19, 10), 'Chicago'),
 (18, 'Zhang Li', 37, 'Male', 'China', 'MU588', '8C', 'Business', datetime.datetime(2025, 6, 18, 7, 0), 'San Francisco'),
 (19, 'Isabella Rossi', 29, 'Female', 'Italy', 'AZ407', '21F', 'Economy', datetime.datetime(2025, 6, 19, 12, 15), 'Barcelona'),
 (20, 'Ahmed El-Sayed', 50, 'Male', 'Egypt', 'MS985', '4D', 'First', datetime.datetime(2025, 6, 20, 3, 30), 'Doha'),
 (21, 'Yara Haddad', 34, 'Female', 'Lebanon', 'ME432', '19C', 'Economy', datetime.datetime(2025, 6, 21, 6, 45), 'Vienna'),
 (22, 'George Papadopoulos', 39, 'Male', 'Greece', 'OA199', '13E', 'Business', datetime.datetime(2025, 6, 22, 15, 20), 'Amsterdam'),
 (23, 'Sofia Svensson', 27, 'Female', 'Sweden', 'SK222', '10A', 'Economy', datetime.datetime(2025, 6, 23, 17, 50), 'Copenhagen'),
 (24, 'Igor Novak', 31, 'Male', 'Croatia', 'OU330', '22B', 'Economy', datetime.datetime(2025, 6, 24, 5, 40), 'Brussels'),
 (25, 'Maria Gonzalez', 36, 'Female', 'Spain', 'IB204', '6C', 'Business', datetime.datetime(2025, 6, 25, 21, 0), 'Zurich'),
 (26, 'Daniel Berg', 43, 'Male', 'Norway', 'DY101', '12E', 'Economy', datetime.datetime(2025, 6, 26, 8, 0), 'Stockholm'),
 (27, 'Mei Chen', 24, 'Female', 'Taiwan', 'BR711', '18D', 'Economy', datetime.datetime(2025, 6, 27, 11, 25), 'Bangkok'),
 (28, 'Omar Farouk', 48, 'Male', 'Saudi Arabia', 'SV402', '7B', 'Business', datetime.datetime(2025, 6, 28, 13, 35), 'Jakarta'),
 (29, 'Tatiana Ivanova', 32, 'Female', 'Russia', 'SU712', '5A', 'First', datetime.datetime(2025, 6, 29, 9, 55), 'Cairo'),
 (30, 'William Davis', 29, 'Male', 'USA', 'DL330', '14D', 'Economy', datetime.datetime(2025, 6, 30, 7, 40), 'Lisbon'),
 (31, 'Helena Kruger', 35, 'Female', 'Germany', 'LH509', '3A', 'Business', datetime.datetime(2025, 7, 1, 10, 30), 'Prague'),
 (32, 'Luis Pereira', 44, 'Male', 'Brazil', 'JJ709', '9C', 'Economy', datetime.datetime(2025, 7, 2, 6, 20), 'Panama City'),
 (33, 'Noor Abbas', 28, 'Female', 'Jordan', 'RJ115', '15F', 'Economy', datetime.datetime(2025, 7, 3, 18, 0), 'Budapest'),
 (34, 'Jacob Lee', 33, 'Male', 'Singapore', 'SQ003', '2D', 'First', datetime.datetime(2025, 7, 4, 12, 45), 'Manila'),
 (35, 'Chloe Martin', 30, 'Female', 'France', 'AF430', '11C', 'Economy', datetime.datetime(2025, 7, 5, 16, 10), 'Vienna'),
 (36, 'Fatima Al Mansoori', 26, 'Female', 'UAE', 'EY315', '14B', 'Economy', datetime.datetime(2025, 7, 6, 9, 0), 'Oslo'),
 (37, 'Henry Thompson', 46, 'Male', 'UK', 'BA225', '7D', 'Business', datetime.datetime(2025, 7, 7, 11, 15), 'Geneva'),
 (38, 'Min-Jun Park', 38, 'Male', 'South Korea', 'KE120', '8E', 'Business', datetime.datetime(2025, 7, 8, 4, 55), 'Rome'),
 (39, 'Natalie Schmidt', 30, 'Female', 'Germany', 'LH234', '21A', 'Economy', datetime.datetime(2025, 7, 9, 15, 40), 'Reykjavik'),
 (40, 'Samuel Johnson', 42, 'Male', 'USA', 'UA560', '10D', 'Economy', datetime.datetime(2025, 7, 10, 17, 30), 'Mexico City'),
 (41, 'Aiko Tanaka', 33, 'Female', 'Japan', 'NH123', '5B', 'Business', datetime.datetime(2025, 7, 11, 13, 0), 'Taipei'),
 (42, 'Ali Reza', 45, 'Male', 'Iran', 'IR305', '3C', 'First', datetime.datetime(2025, 7, 12, 7, 10), 'Istanbul'),
 (43, 'Laura Jensen', 28, 'Female', 'Denmark', 'SK310', '22D', 'Economy', datetime.datetime(2025, 7, 13, 10, 20), 'Warsaw'),
 (44, 'Peter Ndlovu', 50, 'Male', 'Zimbabwe', 'KQ487', '19F', 'Economy', datetime.datetime(2025, 7, 14, 6, 35), 'Cape Town'),
 (45, 'Jasmine Ng', 31, 'Female', 'Malaysia', 'MH881', '12C', 'Economy', datetime.datetime(2025, 7, 15, 14, 50), 'Seoul'),
 (46, 'Victor Almeida', 39, 'Male', 'Portugal', 'TP208', '6A', 'Business', datetime.datetime(2025, 7, 16, 16, 25), 'Hamburg'),
 (47, 'Lucia Romano', 29, 'Female', 'Italy', 'AZ102', '17E', 'Economy', datetime.datetime(2025, 7, 17, 18, 40), 'Brussels'),
 (48, 'Jorge Castillo', 47, 'Male', 'Chile', 'LA721', '9F', 'Economy', datetime.datetime(2025, 7, 18, 8, 55), 'Havana'),
 (49, 'Anastasia Petrova', 34, 'Female', 'Russia', 'SU806', '11D', 'Economy', datetime.datetime(2025, 7, 19, 12, 35), 'Moscow'),
 (50, 'David Kim', 36, 'Male', 'USA', 'DL678', '2A', 'First', datetime.datetime(2025, 7, 20, 9, 45), 'Sydney'),
 (51, 'Emma Wilson', 27, 'Female', 'Australia', 'QF112', '20B', 'Economy', datetime.datetime(2025, 7, 21, 19, 0), 'Wellington'),
 (52, 'Rajesh Kumar', 44, 'Male', 'India', 'AI202', '13C', 'Business', datetime.datetime(2025, 7, 22, 5, 20), 'Berlin'),
 (53, 'Hannah Müller', 31, 'Female', 'Germany', 'LH404', '15E', 'Economy', datetime.datetime(2025, 7, 23, 17, 10), 'Madrid'),
 (54, 'Andres Vega', 40, 'Male', 'Colombia', 'AV155', '18A', 'Economy', datetime.datetime(2025, 7, 24, 20, 30), 'Quito'),
 (55, 'Noura Al Sabah', 25, 'Female', 'Kuwait', 'KU718', '4F', 'Business', datetime.datetime(2025, 7, 25, 11, 5), 'Casablanca'),
 (56, 'Marcus Lindberg', 41, 'Male', 'Sweden', 'SK876', '16C', 'Economy', datetime.datetime(2025, 7, 26, 7, 30), 'Prague'),
 (57, 'Isabella Costa', 35, 'Female', 'Brazil', 'JJ210', '14A', 'Economy', datetime.datetime(2025, 7, 27, 15, 20), 'Montevideo'),
 (58, 'Zhang Wei', 32, 'Male', 'China', 'CA750', '22F', 'Economy', datetime.datetime(2025, 7, 28, 10, 15), 'Bangkok'),
 (59, 'Sofia Ivanova', 29, 'Female', 'Russia', 'SU915', '6B', 'Business', datetime.datetime(2025, 7, 29, 13, 40), 'Athens'),
 (60, 'George Brown', 37, 'Male', 'USA', 'UA112', '5C', 'Business', datetime.datetime(2025, 7, 30, 8, 0), 'Paris'),
 (61, 'Chiara Bianchi', 27, 'Female', 'Italy', 'AZ321', '20E', 'Economy', datetime.datetime(2025, 8, 1, 14, 0), 'Amsterdam'),
 (62, 'Kofi Mensah', 48, 'Male', 'Ghana', 'ET903', '9D', 'Economy', datetime.datetime(2025, 8, 2, 6, 45), 'Addis Ababa'),
 (63, 'Yuki Nakamura', 36, 'Female', 'Japan', 'JL710', '18B', 'Economy', datetime.datetime(2025, 8, 3, 19, 50), 'Hong Kong'),
 (64, 'Tomáš Novák', 39, 'Male', 'Czech Republic', 'OK612', '11A', 'Economy', datetime.datetime(2025, 8, 4, 9, 30), 'Zurich'),
 (65, 'Amira Hassan', 31, 'Female', 'Egypt', 'MS502', '7A', 'Business', datetime.datetime(2025, 8, 5, 12, 10), 'Cairo'),
 (66, 'Daniel O’Connor', 34, 'Male', 'Ireland', 'EI234', '19E', 'Economy', datetime.datetime(2025, 8, 6, 17, 30), 'Birmingham'),
 (67, 'Eva López', 30, 'Female', 'Spain', 'IB678', '8D', 'Business', datetime.datetime(2025, 8, 7, 16, 15), 'Lisbon'),
 (68, 'Hassan Jafari', 43, 'Male', 'Iran', 'IR732', '3F', 'First', datetime.datetime(2025, 8, 8, 4, 55), 'Baku'),
 (69, 'Marta Kowalska', 28, 'Female', 'Poland', 'LO150', '17C', 'Economy', datetime.datetime(2025, 8, 9, 11, 25), 'Stockholm'),
 (70, 'Trevor Smith', 49, 'Male', 'Canada', 'AC431', '13B', 'Economy', datetime.datetime(2025, 8, 10, 15, 10), 'Denver'),
 (71, 'Thandi Dlamini', 33, 'Female', 'South Africa', 'SA303', '10F', 'Economy', datetime.datetime(2025, 8, 11, 8, 30), 'Lusaka'),
 (72, 'Aliyah Noor', 29, 'Female', 'Pakistan', 'PK789', '15D', 'Economy', datetime.datetime(2025, 8, 12, 18, 20), 'Doha'),
 (73, 'Kenji Yamamoto', 50, 'Male', 'Japan', 'NH555', '4E', 'First', datetime.datetime(2025, 8, 13, 5, 40), 'Shanghai'),
 (74, 'Isabelle Martin', 36, 'Female', 'France', 'AF990', '12D', 'Economy', datetime.datetime(2025, 8, 14, 20, 0), 'Barcelona'),
 (75, 'Leonardo Fernández', 40, 'Male', 'Argentina', 'AR222', '6C', 'Business', datetime.datetime(2025, 8, 15, 9, 5), 'Panama City'),
 (76, 'Amina Yusuf', 26, 'Female', 'Nigeria', 'KL900', '22B', 'Economy', datetime.datetime(2025, 8, 16, 11, 30), 'Oslo'),
 (77, 'Björn Andersson', 44, 'Male', 'Sweden', 'SK705', '8C', 'Business', datetime.datetime(2025, 8, 17, 7, 20), 'Reykjavik'),
 (78, 'Lina Haddad', 31, 'Female', 'Jordan', 'RJ315', '14D', 'Economy', datetime.datetime(2025, 8, 18, 13, 0), 'Rome'),
 (79, 'Juan Perez', 39, 'Male', 'Chile', 'LA509', '19A', 'Economy', datetime.datetime(2025, 8, 19, 17, 45), 'Madrid'),
 (80, 'Emily Thompson', 29, 'Female', 'Australia', 'QF402', '6E', 'Business', datetime.datetime(2025, 8, 20, 12, 0), 'Auckland'),
 (81, 'Ahmed Said', 35, 'Male', 'Egypt', 'MS845', '11D', 'Economy', datetime.datetime(2025, 8, 21, 8, 15), 'Nairobi'),
 (82, 'Maria Gonzalez', 46, 'Female', 'Spain', 'IB602', '13C', 'Economy', datetime.datetime(2025, 8, 22, 9, 55), 'Valencia'),
 (83, 'John Smith', 52, 'Male', 'USA', 'DL780', '2A', 'First', datetime.datetime(2025, 8, 23, 6, 30), 'Chicago'),
 (84, 'Sana Rahman', 30, 'Female', 'Bangladesh', 'BG880', '17B', 'Economy', datetime.datetime(2025, 8, 24, 20, 10), 'Colombo'),
 (85, 'Robert Lee', 38, 'Male', 'South Korea', 'KE234', '5D', 'Business', datetime.datetime(2025, 8, 25, 10, 40), 'Seoul'),
 (86, 'Emma Dubois', 27, 'Female', 'France', 'AF733', '15A', 'Economy', datetime.datetime(2025, 8, 26, 14, 0), 'Brussels'),
 (87, 'Ivan Petrov', 40, 'Male', 'Russia', 'SU614', '3D', 'First', datetime.datetime(2025, 8, 27, 5, 55), 'Helsinki'),
 (88, 'Grace Kim', 34, 'Female', 'USA', 'AA654', '9F', 'Economy', datetime.datetime(2025, 8, 28, 16, 25), 'San Francisco'),
 (89, 'Omar Al-Farsi', 42, 'Male', 'Oman', 'WY411', '4A', 'First', datetime.datetime(2025, 8, 29, 7, 10), 'Muscat'),
 (90, 'Lucia Rossi', 33, 'Female', 'Italy', 'AZ843', '18D', 'Economy', datetime.datetime(2025, 8, 30, 11, 20), 'Vienna'),
 (91, 'Peter Johnson', 37, 'Male', 'UK', 'BA231', '12F', 'Economy', datetime.datetime(2025, 8, 31, 18, 0), 'Berlin'),
 (92, 'Naoko Tanaka', 29, 'Female', 'Japan', 'JL678', '16A', 'Economy', datetime.datetime(2025, 9, 1, 13, 45), 'Osaka'),
 (93, 'Ali Reza', 50, 'Male', 'Iran', 'IR701', '7C', 'Business', datetime.datetime(2025, 9, 2, 9, 0), 'Tashkent'),
 (94, 'Natalie Becker', 36, 'Female', 'Germany', 'LH765', '10B', 'Economy', datetime.datetime(2025, 9, 3, 6, 0), 'Bratislava'),
 (95, 'David Chen', 41, 'Male', 'Taiwan', 'BR112', '21C', 'Economy', datetime.datetime(2025, 9, 4, 14, 20), 'Kuala Lumpur'),
 (96, 'Yara Elmasry', 28, 'Female', 'Egypt', 'MS912', '20F', 'Economy', datetime.datetime(2025, 9, 5, 19, 30), 'Casablanca'),
 (97, 'Samuel Boateng', 43, 'Male', 'Ghana', 'ET702', '2B', 'First', datetime.datetime(2025, 9, 6, 8, 45), 'Abidjan'),
 (98, 'Carla Mendes', 32, 'Female', 'Portugal', 'TP320', '15C', 'Economy', datetime.datetime(2025, 9, 7, 10, 10), 'Geneva'),
 (99, 'Ravi Narayan', 39, 'Male', 'India', 'AI119', '13A', 'Economy', datetime.datetime(2025, 9, 8, 12, 50), 'Kuwait'),
 (100, 'Sophie Müller', 31, 'Female', 'Germany', 'LH544', '8A', 'Business', datetime.datetime(2025, 9, 9, 7, 15), 'Cape Town')]

In [119]:
%load_ext sql
%sql result = df.DataFrame()
df.head()

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
   mysql+pymysql://mariaz:***@127.0.0.1/test
 * mysql+pymysql://mariaz:***@localhost/test
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'result = df.DataFrame()' at line 1")
[SQL: result = df.DataFrame()]
(Background on this error at: https://sqlalche.me/e/20/f405)

,passenger_id,name,age,gender,nationality,flight_number,seat_number,travel_class,departure_time,destination
0,1,Alice Johnson,34,Female,USA,AA123,12A,Economy,2025-06-01 08:00:00,London
1,2,Mohammed Khan,45,Male,UAE,EK202,3B,Business,2025-06-02 13:45:00,New York
2,3,Ling Wei,29,Female,China,CA985,18C,Economy,2025-06-03 19:30:00,Beijing
3,4,Carlos Ruiz,51,Male,Mexico,AM450,6F,First,2025-06-04 06:15:00,Toronto
4,5,Ananya Patel,27,Female,India,AI101,21D,Economy,2025-06-05 09:00:00,Singapore

In [121]:
df.info

<bound method DataFrame.info of     passenger_id            name  age  gender nationality flight_number  \
0              1   Alice Johnson   34  Female         USA         AA123
1              2   Mohammed Khan   45    Male         UAE         EK202
2              3        Ling Wei   29  Female       China         CA985
3              4     Carlos Ruiz   51    Male      Mexico         AM450
4              5    Ananya Patel   27  Female       India         AI101
..           ...             ...  ...     ...         ...           ...
95            96    Yara Elmasry   28  Female       Egypt         MS912
96            97  Samuel Boateng   43    Male       Ghana         ET702
97            98    Carla Mendes   32  Female    Portugal         TP320
98            99    Ravi Narayan   39    Male       India         AI119
99           100   Sophie Müller   31  Female     Germany         LH544

   seat_number travel_class      departure_time destination
0          12A      Economy 2025-06-01 08:00:00      London
1           3B     Business 2025-06-02 13:45:00    New York
2          18C      Economy 2025-06-03 19:30:00     Beijing
3           6F        First 2025-06-04 06:15:00     Toronto
4          21D      Economy 2025-06-05 09:00:00   Singapore
..         ...          ...                 ...         ...
95         20F      Economy 2025-09-05 19:30:00  Casablanca
96          2B        First 2025-09-06 08:45:00     Abidjan
97         15C      Economy 2025-09-07 10:10:00      Geneva
98         13A      Economy 2025-09-08 12:50:00      Kuwait
99          8A     Business 2025-09-09 07:15:00   Cape Town

[100 rows x 10 columns]>

In [123]:
df.dtypes

passenger_id               int64
name                      object
age                        int64
gender                    object
nationality               object
flight_number             object
seat_number               object
travel_class              object
departure_time    datetime64[ns]
destination               object
dtype: object

In [125]:
df.describe

<bound method NDFrame.describe of     passenger_id            name  age  gender nationality flight_number  \
0              1   Alice Johnson   34  Female         USA         AA123
1              2   Mohammed Khan   45    Male         UAE         EK202
2              3        Ling Wei   29  Female       China         CA985
3              4     Carlos Ruiz   51    Male      Mexico         AM450
4              5    Ananya Patel   27  Female       India         AI101
..           ...             ...  ...     ...         ...           ...
95            96    Yara Elmasry   28  Female       Egypt         MS912
96            97  Samuel Boateng   43    Male       Ghana         ET702
97            98    Carla Mendes   32  Female    Portugal         TP320
98            99    Ravi Narayan   39    Male       India         AI119
99           100   Sophie Müller   31  Female     Germany         LH544

   seat_number travel_class      departure_time destination
0          12A      Economy 2025-06-01 08:00:00      London
1           3B     Business 2025-06-02 13:45:00    New York
2          18C      Economy 2025-06-03 19:30:00     Beijing
3           6F        First 2025-06-04 06:15:00     Toronto
4          21D      Economy 2025-06-05 09:00:00   Singapore
..         ...          ...                 ...         ...
95         20F      Economy 2025-09-05 19:30:00  Casablanca
96          2B        First 2025-09-06 08:45:00     Abidjan
97         15C      Economy 2025-09-07 10:10:00      Geneva
98         13A      Economy 2025-09-08 12:50:00      Kuwait
99          8A     Business 2025-09-09 07:15:00   Cape Town

[100 rows x 10 columns]>

In [127]:
pip install pyspark # Creating a spark session

Collecting pyspark
  Downloading pyspark-3.5.5.tar.gz (317.2 MB)
     ━━━╺━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.0/317.2 MB 217.8 kB/s eta 0:22:18
ERROR: Exception:
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/urllib3/response.py", line 438, in _error_catcher
    yield
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/urllib3/response.py", line 561, in read
    data = self._fp_read(amt) if not fp_closed else b""
           ^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/urllib3/response.py", line 527, in _fp_read
    return self._fp.read(amt) if amt is not None else self._fp.read()
           ^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/cachecontrol/filewrapper.py", line 98, in read
    data: bytes = self.__fp.read(amt)
                  ^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/http/client.py", line 479, in read
    s = self.fp.read(amt)
        ^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/socket.py", line 720, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/ssl.py", line 1251, in recv_into
    return self.read(nbytes, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/ssl.py", line 1103, in read
    return self._sslobj.read(len, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TimeoutError: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/cli/base_command.py", line 105, in _run_wrapper
    status = _inner_run()
             ^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/cli/base_command.py", line 96, in _inner_run
    return self.run(options, args)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/cli/req_command.py", line 67, in wrapper
    return func(self, options, args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/commands/install.py", line 379, in run
    requirement_set = resolver.resolve(
                      ^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/resolution/resolvelib/resolver.py", line 95, in resolve
    result = self._result = resolver.resolve(
                            ^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/resolvelib/resolvers.py", line 546, in resolve
    state = resolution.resolve(requirements, max_rounds=max_rounds)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/resolvelib/resolvers.py", line 397, in resolve
    self._add_to_criteria(self.state.criteria, r, parent=None)
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/resolvelib/resolvers.py", line 173, in _add_to_criteria
    if not criterion.candidates:
           ^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/resolvelib/structs.py", line 156, in __bool__
    return bool(self._sequence)
           ^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/resolution/resolvelib/found_candidates.py", line 174, in __bool__
    return any(self)
           ^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/resolution/resolvelib/found_candidates.py", line 162, in <genexpr>
    return (c for c in iterator if id(c) not in self._incompatible_ids)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/resolution/resolvelib/found_candidates.py", line 53, in _iter_built
    candidate = func()
                ^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/resolution/resolvelib/factory.py", line 186, in _make_candidate_from_link
    base: Optional[BaseCandidate] = self._make_base_candidate_from_link(
                                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/resolution/resolvelib/factory.py", line 232, in _make_base_candidate_from_link
    self._link_candidate_cache[link] = LinkCandidate(
                                       ^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/resolution/resolvelib/candidates.py", line 303, in __init__
    super().__init__(
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/resolution/resolvelib/candidates.py", line 158, in __init__
    self.dist = self._prepare()
                ^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/resolution/resolvelib/candidates.py", line 235, in _prepare
    dist = self._prepare_distribution()
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/resolution/resolvelib/candidates.py", line 314, in _prepare_distribution
    return preparer.prepare_linked_requirement(self._ireq, parallel_builds=True)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/operations/prepare.py", line 527, in prepare_linked_requirement
    return self._prepare_linked_requirement(req, parallel_builds)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/operations/prepare.py", line 598, in _prepare_linked_requirement
    local_file = unpack_url(
                 ^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/operations/prepare.py", line 170, in unpack_url
    file = get_http_url(
           ^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/operations/prepare.py", line 111, in get_http_url
    from_path, content_type = download(link, temp_dir.path)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/network/download.py", line 148, in __call__
    for chunk in chunks:
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/cli/progress_bars.py", line 55, in _rich_progress_bar
    for chunk in iterable:
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_internal/network/utils.py", line 65, in response_chunks
    for chunk in response.raw.stream(
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/urllib3/response.py", line 622, in stream
    data = self.read(amt=amt, decode_content=decode_content)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/urllib3/response.py", line 560, in read
    with self._error_catcher():
  File "/opt/anaconda3/lib/python3.12/contextlib.py", line 158, in __exit__
    self.gen.throw(value)
  File "/opt/anaconda3/lib/python3.12/site-packages/pip/_vendor/urllib3/response.py", line 443, in _error_catcher
    raise ReadTimeoutError(self._pool, None, "Read timed out.")
pip._vendor.urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out.
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext sql
%sql select * from aero_passengers;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/opt/anaconda3/lib/python3.12/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [13]:
%sql select * from aero_passengers

 * mysql+pymysql://mariaz:***@localhost/test
105 rows affected.

[(1, 'Alice Johnson', 34, 'Female', 'USA', 'AA123', '12A', 'Economy', datetime.datetime(2025, 6, 1, 8, 0), 'London'),
 (2, 'Mohammed Khan', 45, 'Male', 'UAE', 'EK202', '3B', 'Business', datetime.datetime(2025, 6, 2, 13, 45), 'New York'),
 (3, 'Ling Wei', 29, 'Female', 'China', 'CA985', '18C', 'Economy', datetime.datetime(2025, 6, 3, 19, 30), 'Beijing'),
 (4, 'Carlos Ruiz', 51, 'Male', 'Mexico', 'AM450', '6F', 'First', datetime.datetime(2025, 6, 4, 6, 15), 'Toronto'),
 (5, 'Ananya Patel', 27, 'Female', 'India', 'AI101', '21D', 'Economy', datetime.datetime(2025, 6, 5, 9, 0), 'Singapore'),
 (6, 'Noah Rhodes', 61, 'Male', 'France', 'LH789', '3A', 'Economy', datetime.datetime(2025, 6, 7, 7, 32), 'Sydney'),
 (7, 'Angie Henderson', 19, 'Male', 'Japan', 'LH789', '15D', 'First', datetime.datetime(2025, 6, 9, 0, 48), 'Beijing'),
 (8, 'Daniel Wagner', 62, 'Female', 'UK', 'AI101', '10B', 'Business', datetime.datetime(2025, 6, 4, 2, 24), 'New York'),
 (9, 'Cristian Santos', 40, 'Female', 'France', 'AI101', '3F', 'Business', datetime.datetime(2025, 6, 18, 3, 59), 'Frankfurt'),
 (10, 'Connie Lawrence', 23, 'Female', 'France', 'BA256', '37B', 'First', datetime.datetime(2025, 6, 3, 1, 42), 'Toronto'),
 (11, 'Priya Ramesh', 22, 'Female', 'India', 'AI890', '15A', 'Economy', datetime.datetime(2025, 6, 11, 5, 50), 'Dubai'),
 (12, 'Oluwaseun Adewale', 40, 'Male', 'Nigeria', 'ET701', '6B', 'First', datetime.datetime(2025, 6, 12, 12, 10), 'Johannesburg'),
 (13, 'Anna Kowalska', 30, 'Female', 'Poland', 'LO223', '10C', 'Economy', datetime.datetime(2025, 6, 13, 11, 30), 'Madrid'),
 (14, 'Lucas Martinez', 28, 'Male', 'Argentina', 'AR444', '3C', 'Business', datetime.datetime(2025, 6, 14, 9, 0), 'Miami'),
 (15, 'Nadia Petrova', 33, 'Female', 'Russia', 'SU605', '5E', 'First', datetime.datetime(2025, 6, 15, 17, 20), 'Istanbul'),
 (16, 'Takashi Yamamoto', 41, 'Male', 'Japan', 'JL800', '11A', 'Economy', datetime.datetime(2025, 6, 16, 8, 45), 'Seoul'),
 (17, 'Emily Brown', 25, 'Female', 'Canada', 'AC125', '16B', 'Economy', datetime.datetime(2025, 6, 17, 19, 10), 'Chicago'),
 (18, 'Zhang Li', 37, 'Male', 'China', 'MU588', '8C', 'Business', datetime.datetime(2025, 6, 18, 7, 0), 'San Francisco'),
 (19, 'Isabella Rossi', 29, 'Female', 'Italy', 'AZ407', '21F', 'Economy', datetime.datetime(2025, 6, 19, 12, 15), 'Barcelona'),
 (20, 'Ahmed El-Sayed', 50, 'Male', 'Egypt', 'MS985', '4D', 'First', datetime.datetime(2025, 6, 20, 3, 30), 'Doha'),
 (21, 'Yara Haddad', 34, 'Female', 'Lebanon', 'ME432', '19C', 'Economy', datetime.datetime(2025, 6, 21, 6, 45), 'Vienna'),
 (22, 'George Papadopoulos', 39, 'Male', 'Greece', 'OA199', '13E', 'Business', datetime.datetime(2025, 6, 22, 15, 20), 'Amsterdam'),
 (23, 'Sofia Svensson', 27, 'Female', 'Sweden', 'SK222', '10A', 'Economy', datetime.datetime(2025, 6, 23, 17, 50), 'Copenhagen'),
 (24, 'Igor Novak', 31, 'Male', 'Croatia', 'OU330', '22B', 'Economy', datetime.datetime(2025, 6, 24, 5, 40), 'Brussels'),
 (25, 'Maria Gonzalez', 36, 'Female', 'Spain', 'IB204', '6C', 'Business', datetime.datetime(2025, 6, 25, 21, 0), 'Zurich'),
 (26, 'Daniel Berg', 43, 'Male', 'Norway', 'DY101', '12E', 'Economy', datetime.datetime(2025, 6, 26, 8, 0), 'Stockholm'),
 (27, 'Mei Chen', 24, 'Female', 'Taiwan', 'BR711', '18D', 'Economy', datetime.datetime(2025, 6, 27, 11, 25), 'Bangkok'),
 (28, 'Omar Farouk', 48, 'Male', 'Saudi Arabia', 'SV402', '7B', 'Business', datetime.datetime(2025, 6, 28, 13, 35), 'Jakarta'),
 (29, 'Tatiana Ivanova', 32, 'Female', 'Russia', 'SU712', '5A', 'First', datetime.datetime(2025, 6, 29, 9, 55), 'Cairo'),
 (30, 'William Davis', 29, 'Male', 'USA', 'DL330', '14D', 'Economy', datetime.datetime(2025, 6, 30, 7, 40), 'Lisbon'),
 (31, 'Helena Kruger', 35, 'Female', 'Germany', 'LH509', '3A', 'Business', datetime.datetime(2025, 7, 1, 10, 30), 'Prague'),
 (32, 'Luis Pereira', 44, 'Male', 'Brazil', 'JJ709', '9C', 'Economy', datetime.datetime(2025, 7, 2, 6, 20), 'Panama City'),
 (33, 'Noor Abbas', 28, 'Female', 'Jordan', 'RJ115', '15F', 'Economy', datetime.datetime(2025, 7, 3, 18, 0), 'Budapest'),
 (34, 'Jacob Lee', 33, 'Male', 'Singapore', 'SQ003', '2D', 'First', datetime.datetime(2025, 7, 4, 12, 45), 'Manila'),
 (35, 'Chloe Martin', 30, 'Female', 'France', 'AF430', '11C', 'Economy', datetime.datetime(2025, 7, 5, 16, 10), 'Vienna'),
 (36, 'Fatima Al Mansoori', 26, 'Female', 'UAE', 'EY315', '14B', 'Economy', datetime.datetime(2025, 7, 6, 9, 0), 'Oslo'),
 (37, 'Henry Thompson', 46, 'Male', 'UK', 'BA225', '7D', 'Business', datetime.datetime(2025, 7, 7, 11, 15), 'Geneva'),
 (38, 'Min-Jun Park', 38, 'Male', 'South Korea', 'KE120', '8E', 'Business', datetime.datetime(2025, 7, 8, 4, 55), 'Rome'),
 (39, 'Natalie Schmidt', 30, 'Female', 'Germany', 'LH234', '21A', 'Economy', datetime.datetime(2025, 7, 9, 15, 40), 'Reykjavik'),
 (40, 'Samuel Johnson', 42, 'Male', 'USA', 'UA560', '10D', 'Economy', datetime.datetime(2025, 7, 10, 17, 30), 'Mexico City'),
 (41, 'Aiko Tanaka', 33, 'Female', 'Japan', 'NH123', '5B', 'Business', datetime.datetime(2025, 7, 11, 13, 0), 'Taipei'),
 (42, 'Ali Reza', 45, 'Male', 'Iran', 'IR305', '3C', 'First', datetime.datetime(2025, 7, 12, 7, 10), 'Istanbul'),
 (43, 'Laura Jensen', 28, 'Female', 'Denmark', 'SK310', '22D', 'Economy', datetime.datetime(2025, 7, 13, 10, 20), 'Warsaw'),
 (44, 'Peter Ndlovu', 50, 'Male', 'Zimbabwe', 'KQ487', '19F', 'Economy', datetime.datetime(2025, 7, 14, 6, 35), 'Cape Town'),
 (45, 'Jasmine Ng', 31, 'Female', 'Malaysia', 'MH881', '12C', 'Economy', datetime.datetime(2025, 7, 15, 14, 50), 'Seoul'),
 (46, 'Victor Almeida', 39, 'Male', 'Portugal', 'TP208', '6A', 'Business', datetime.datetime(2025, 7, 16, 16, 25), 'Hamburg'),
 (47, 'Lucia Romano', 29, 'Female', 'Italy', 'AZ102', '17E', 'Economy', datetime.datetime(2025, 7, 17, 18, 40), 'Brussels'),
 (48, 'Jorge Castillo', 47, 'Male', 'Chile', 'LA721', '9F', 'Economy', datetime.datetime(2025, 7, 18, 8, 55), 'Havana'),
 (49, 'Anastasia Petrova', 34, 'Female', 'Russia', 'SU806', '11D', 'Economy', datetime.datetime(2025, 7, 19, 12, 35), 'Moscow'),
 (50, 'David Kim', 36, 'Male', 'USA', 'DL678', '2A', 'First', datetime.datetime(2025, 7, 20, 9, 45), 'Sydney'),
 (51, 'Emma Wilson', 27, 'Female', 'Australia', 'QF112', '20B', 'Economy', datetime.datetime(2025, 7, 21, 19, 0), 'Wellington'),
 (52, 'Rajesh Kumar', 44, 'Male', 'India', 'AI202', '13C', 'Business', datetime.datetime(2025, 7, 22, 5, 20), 'Berlin'),
 (53, 'Hannah Müller', 31, 'Female', 'Germany', 'LH404', '15E', 'Economy', datetime.datetime(2025, 7, 23, 17, 10), 'Madrid'),
 (54, 'Andres Vega', 40, 'Male', 'Colombia', 'AV155', '18A', 'Economy', datetime.datetime(2025, 7, 24, 20, 30), 'Quito'),
 (55, 'Noura Al Sabah', 25, 'Female', 'Kuwait', 'KU718', '4F', 'Business', datetime.datetime(2025, 7, 25, 11, 5), 'Casablanca'),
 (56, 'Marcus Lindberg', 41, 'Male', 'Sweden', 'SK876', '16C', 'Economy', datetime.datetime(2025, 7, 26, 7, 30), 'Prague'),
 (57, 'Isabella Costa', 35, 'Female', 'Brazil', 'JJ210', '14A', 'Economy', datetime.datetime(2025, 7, 27, 15, 20), 'Montevideo'),
 (58, 'Zhang Wei', 32, 'Male', 'China', 'CA750', '22F', 'Economy', datetime.datetime(2025, 7, 28, 10, 15), 'Bangkok'),
 (59, 'Sofia Ivanova', 29, 'Female', 'Russia', 'SU915', '6B', 'Business', datetime.datetime(2025, 7, 29, 13, 40), 'Athens'),
 (60, 'George Brown', 37, 'Male', 'USA', 'UA112', '5C', 'Business', datetime.datetime(2025, 7, 30, 8, 0), 'Paris'),
 (61, 'Chiara Bianchi', 27, 'Female', 'Italy', 'AZ321', '20E', 'Economy', datetime.datetime(2025, 8, 1, 14, 0), 'Amsterdam'),
 (62, 'Kofi Mensah', 48, 'Male', 'Ghana', 'ET903', '9D', 'Economy', datetime.datetime(2025, 8, 2, 6, 45), 'Addis Ababa'),
 (63, 'Yuki Nakamura', 36, 'Female', 'Japan', 'JL710', '18B', 'Economy', datetime.datetime(2025, 8, 3, 19, 50), 'Hong Kong'),
 (64, 'Tomáš Novák', 39, 'Male', 'Czech Republic', 'OK612', '11A', 'Economy', datetime.datetime(2025, 8, 4, 9, 30), 'Zurich'),
 (65, 'Amira Hassan', 31, 'Female', 'Egypt', 'MS502', '7A', 'Business', datetime.datetime(2025, 8, 5, 12, 10), 'Cairo'),
 (66, 'Daniel O’Connor', 34, 'Male', 'Ireland', 'EI234', '19E', 'Economy', datetime.datetime(2025, 8, 6, 17, 30), 'Birmingham'),
 (67, 'Eva López', 30, 'Female', 'Spain', 'IB678', '8D', 'Business', datetime.datetime(2025, 8, 7, 16, 15), 'Lisbon'),
 (68, 'Hassan Jafari', 43, 'Male', 'Iran', 'IR732', '3F', 'First', datetime.datetime(2025, 8, 8, 4, 55), 'Baku'),
 (69, 'Marta Kowalska', 28, 'Female', 'Poland', 'LO150', '17C', 'Economy', datetime.datetime(2025, 8, 9, 11, 25), 'Stockholm'),
 (70, 'Trevor Smith', 49, 'Male', 'Canada', 'AC431', '13B', 'Economy', datetime.datetime(2025, 8, 10, 15, 10), 'Denver'),
 (71, 'Thandi Dlamini', 33, 'Female', 'South Africa', 'SA303', '10F', 'Economy', datetime.datetime(2025, 8, 11, 8, 30), 'Lusaka'),
 (72, 'Aliyah Noor', 29, 'Female', 'Pakistan', 'PK789', '15D', 'Economy', datetime.datetime(2025, 8, 12, 18, 20), 'Doha'),
 (73, 'Kenji Yamamoto', 50, 'Male', 'Japan', 'NH555', '4E', 'First', datetime.datetime(2025, 8, 13, 5, 40), 'Shanghai'),
 (74, 'Isabelle Martin', 36, 'Female', 'France', 'AF990', '12D', 'Economy', datetime.datetime(2025, 8, 14, 20, 0), 'Barcelona'),
 (75, 'Leonardo Fernández', 40, 'Male', 'Argentina', 'AR222', '6C', 'Business', datetime.datetime(2025, 8, 15, 9, 5), 'Panama City'),
 (76, 'Amina Yusuf', 26, 'Female', 'Nigeria', 'KL900', '22B', 'Economy', datetime.datetime(2025, 8, 16, 11, 30), 'Oslo'),
 (77, 'Björn Andersson', 44, 'Male', 'Sweden', 'SK705', '8C', 'Business', datetime.datetime(2025, 8, 17, 7, 20), 'Reykjavik'),
 (78, 'Lina Haddad', 31, 'Female', 'Jordan', 'RJ315', '14D', 'Economy', datetime.datetime(2025, 8, 18, 13, 0), 'Rome'),
 (79, 'Juan Perez', 39, 'Male', 'Chile', 'LA509', '19A', 'Economy', datetime.datetime(2025, 8, 19, 17, 45), 'Madrid'),
 (80, 'Emily Thompson', 29, 'Female', 'Australia', 'QF402', '6E', 'Business', datetime.datetime(2025, 8, 20, 12, 0), 'Auckland'),
 (81, 'Ahmed Said', 35, 'Male', 'Egypt', 'MS845', '11D', 'Economy', datetime.datetime(2025, 8, 21, 8, 15), 'Nairobi'),
 (82, 'Maria Gonzalez', 46, 'Female', 'Spain', 'IB602', '13C', 'Economy', datetime.datetime(2025, 8, 22, 9, 55), 'Valencia'),
 (83, 'John Smith', 52, 'Male', 'USA', 'DL780', '2A', 'First', datetime.datetime(2025, 8, 23, 6, 30), 'Chicago'),
 (84, 'Sana Rahman', 30, 'Female', 'Bangladesh', 'BG880', '17B', 'Economy', datetime.datetime(2025, 8, 24, 20, 10), 'Colombo'),
 (85, 'Robert Lee', 38, 'Male', 'South Korea', 'KE234', '5D', 'Business', datetime.datetime(2025, 8, 25, 10, 40), 'Seoul'),
 (86, 'Emma Dubois', 27, 'Female', 'France', 'AF733', '15A', 'Economy', datetime.datetime(2025, 8, 26, 14, 0), 'Brussels'),
 (87, 'Ivan Petrov', 40, 'Male', 'Russia', 'SU614', '3D', 'First', datetime.datetime(2025, 8, 27, 5, 55), 'Helsinki'),
 (88, 'Grace Kim', 34, 'Female', 'USA', 'AA654', '9F', 'Economy', datetime.datetime(2025, 8, 28, 16, 25), 'San Francisco'),
 (89, 'Omar Al-Farsi', 42, 'Male', 'Oman', 'WY411', '4A', 'First', datetime.datetime(2025, 8, 29, 7, 10), 'Muscat'),
 (90, 'Lucia Rossi', 33, 'Female', 'Italy', 'AZ843', '18D', 'Economy', datetime.datetime(2025, 8, 30, 11, 20), 'Vienna'),
 (91, 'Peter Johnson', 37, 'Male', 'UK', 'BA231', '12F', 'Economy', datetime.datetime(2025, 8, 31, 18, 0), 'Berlin'),
 (92, 'Naoko Tanaka', 29, 'Female', 'Japan', 'JL678', '16A', 'Economy', datetime.datetime(2025, 9, 1, 13, 45), 'Osaka'),
 (93, 'Ali Reza', 50, 'Male', 'Iran', 'IR701', '7C', 'Business', datetime.datetime(2025, 9, 2, 9, 0), 'Tashkent'),
 (94, 'Natalie Becker', 36, 'Female', 'Germany', 'LH765', '10B', 'Economy', datetime.datetime(2025, 9, 3, 6, 0), 'Bratislava'),
 (95, 'David Chen', 41, 'Male', 'Taiwan', 'BR112', '21C', 'Economy', datetime.datetime(2025, 9, 4, 14, 20), 'Kuala Lumpur'),
 (96, 'Yara Elmasry', 28, 'Female', 'Egypt', 'MS912', '20F', 'Economy', datetime.datetime(2025, 9, 5, 19, 30), 'Casablanca'),
 (97, 'Samuel Boateng', 43, 'Male', 'Ghana', 'ET702', '2B', 'First', datetime.datetime(2025, 9, 6, 8, 45), 'Abidjan'),
 (98, 'Carla Mendes', 32, 'Female', 'Portugal', 'TP320', '15C', 'Economy', datetime.datetime(2025, 9, 7, 10, 10), 'Geneva'),
 (99, 'Ravi Narayan', 39, 'Male', 'India', 'AI119', '13A', 'Economy', datetime.datetime(2025, 9, 8, 12, 50), 'Kuwait'),
 (100, 'Sophie Müller', 31, 'Female', 'Germany', 'LH544', '8A', 'Business', datetime.datetime(2025, 9, 9, 7, 15), 'Cape Town'),
 (111, 'Test User', None, '', 'NA', None, '', 'NA', None, ''),
 (112, 'Test User1', None, 'NA', '', '', None, 'Economy', None, 'NA'),
 (113, 'Test User2', 0, '', 'NA', None, '', None, None, ''),
 (114, 'Test User3', None, None, None, 'NA', 'NA', '', None, ''),
 (115, 'Test User4', None, '', '', '', '', 'NA', None, None)]

In [23]:
%sql select age, nationality from aero_passengers group by age order by age asc limit 5

 * mysql+pymysql://mariaz:***@localhost/test
5 rows affected.

[(None, 'NA'), (0, 'NA'), (19, 'Japan'), (22, 'India'), (23, 'France')]

In [33]:
%sql select travel_class,count(*) from aero_passengers group by travel_Class having count(*) > 1 order by travel_class asc

 * mysql+pymysql://mariaz:***@localhost/test
4 rows affected.

[('Business', 25), ('Economy', 60), ('First', 16), ('NA', 2)]

In [65]:
%%sql
SELECT nationality,travel_class, COUNT(*) AS total_passengers
FROM aero_passengers
WHERE nationality IN (
    SELECT nationality
    FROM aero_passengers
    GROUP BY nationality
    HAVING COUNT(*) > 1
)
GROUP BY nationality order by total_passengers desc

 * mysql+pymysql://mariaz:***@localhost/test
28 rows affected.

[('USA', 'Economy', 7),
 ('France', 'Economy', 6),
 ('Japan', 'First', 6),
 ('Russia', 'First', 5),
 ('Germany', 'Business', 5),
 ('India', 'Economy', 4),
 ('Italy', 'Economy', 4),
 ('Egypt', 'First', 4),
 ('China', 'Economy', 3),
 ('UK', 'Business', 3),
 ('Sweden', 'Economy', 3),
 ('Spain', 'Business', 3),
 ('Iran', 'First', 3),
 ('UAE', 'Business', 2),
 ('Nigeria', 'First', 2),
 ('Poland', 'Economy', 2),
 ('Argentina', 'Business', 2),
 ('Canada', 'Economy', 2),
 ('Taiwan', 'Economy', 2),
 ('Brazil', 'Economy', 2),
 ('Jordan', 'Economy', 2),
 ('South Korea', 'Business', 2),
 ('Portugal', 'Business', 2),
 ('Chile', 'Economy', 2),
 ('Australia', 'Economy', 2),
 ('Ghana', 'Economy', 2),
 ('NA', 'NA', 2),
 ('', 'Economy', 2)]

In [ ]:
%%sql
SELECT count(distinct nationality), count(distinct travel_class), COUNT(*) AS total_passengers
FROM aero_passengers
WHERE nationality IN (
    SELECT nationality
    FROM aero_passengers
    GROUP BY nationality
    HAVING COUNT(*) > 1
)
GROUP BY nationality, travel_class order by total_passengers desc

In [67]:
%sql select distinct(travel_class) from aero_passengers;

 * mysql+pymysql://mariaz:***@localhost/test
6 rows affected.

[('Economy',), ('Business',), ('First',), ('NA',), (None,), ('',)]

In [69]:
%%sql SELECT 
    nationality,
    travel_class,
    COUNT(*) AS total_passengers
FROM 
    aero_passengers
GROUP BY 
    nationality, travel_class
ORDER BY 
    total_passengers DESC;

 * mysql+pymysql://mariaz:***@localhost/test
71 rows affected.

[('USA', 'Economy', 4),
 ('France', 'Economy', 4),
 ('Italy', 'Economy', 4),
 ('India', 'Economy', 3),
 ('Russia', 'First', 3),
 ('Japan', 'Economy', 3),
 ('Germany', 'Economy', 3),
 ('China', 'Economy', 2),
 ('Japan', 'First', 2),
 ('UK', 'Business', 2),
 ('Poland', 'Economy', 2),
 ('Argentina', 'Business', 2),
 ('Canada', 'Economy', 2),
 ('Sweden', 'Economy', 2),
 ('Spain', 'Business', 2),
 ('Taiwan', 'Economy', 2),
 ('Germany', 'Business', 2),
 ('Brazil', 'Economy', 2),
 ('Jordan', 'Economy', 2),
 ('South Korea', 'Business', 2),
 ('Iran', 'First', 2),
 ('Chile', 'Economy', 2),
 ('USA', 'First', 2),
 ('Egypt', 'Economy', 2),
 ('UAE', 'Business', 1),
 ('Mexico', 'First', 1),
 ('France', 'Business', 1),
 ('France', 'First', 1),
 ('Nigeria', 'First', 1),
 ('China', 'Business', 1),
 ('Egypt', 'First', 1),
 ('Lebanon', 'Economy', 1),
 ('Greece', 'Business', 1),
 ('Croatia', 'Economy', 1),
 ('Norway', 'Economy', 1),
 ('Saudi Arabia', 'Business', 1),
 ('Singapore', 'First', 1),
 ('UAE', 'Economy', 1),
 ('Japan', 'Business', 1),
 ('Denmark', 'Economy', 1),
 ('Zimbabwe', 'Economy', 1),
 ('Malaysia', 'Economy', 1),
 ('Portugal', 'Business', 1),
 ('Russia', 'Economy', 1),
 ('Australia', 'Economy', 1),
 ('India', 'Business', 1),
 ('Colombia', 'Economy', 1),
 ('Kuwait', 'Business', 1),
 ('Russia', 'Business', 1),
 ('USA', 'Business', 1),
 ('Ghana', 'Economy', 1),
 ('Czech Republic', 'Economy', 1),
 ('Egypt', 'Business', 1),
 ('Ireland', 'Economy', 1),
 ('South Africa', 'Economy', 1),
 ('Pakistan', 'Economy', 1),
 ('Nigeria', 'Economy', 1),
 ('Sweden', 'Business', 1),
 ('Australia', 'Business', 1),
 ('Spain', 'Economy', 1),
 ('Bangladesh', 'Economy', 1),
 ('Oman', 'First', 1),
 ('UK', 'Economy', 1),
 ('Iran', 'Business', 1),
 ('Ghana', 'First', 1),
 ('Portugal', 'Economy', 1),
 ('NA', 'NA', 1),
 ('', 'Economy', 1),
 ('NA', None, 1),
 (None, '', 1),
 ('', 'NA', 1)]

In [71]:
%%sql SELECT # Sql pivot like case statement written in sql using count and case statements with grouo by and order by clauses #
    nationality,
    COUNT(CASE WHEN travel_class = 'First' THEN 1 END) AS first_class_passengers,
    COUNT(CASE WHEN travel_class = 'Business' THEN 1 END) AS business_class_passengers,
    COUNT(CASE WHEN travel_class = 'Economy' THEN 1 END) AS economy_class_passengers,
    COUNT(*) AS total_passengers
FROM 
    aero_passengers
GROUP BY 
    nationality
ORDER BY 
    total_passengers DESC;

 * mysql+pymysql://mariaz:***@localhost/test
47 rows affected.

[('USA', 2, 1, 4, 7),
 ('France', 1, 1, 4, 6),
 ('Japan', 2, 1, 3, 6),
 ('Russia', 3, 1, 1, 5),
 ('Germany', 0, 2, 3, 5),
 ('India', 0, 1, 3, 4),
 ('Italy', 0, 0, 4, 4),
 ('Egypt', 1, 1, 2, 4),
 ('China', 0, 1, 2, 3),
 ('UK', 0, 2, 1, 3),
 ('Sweden', 0, 1, 2, 3),
 ('Spain', 0, 2, 1, 3),
 ('Iran', 2, 1, 0, 3),
 ('UAE', 0, 1, 1, 2),
 ('Nigeria', 1, 0, 1, 2),
 ('Poland', 0, 0, 2, 2),
 ('Argentina', 0, 2, 0, 2),
 ('Canada', 0, 0, 2, 2),
 ('Taiwan', 0, 0, 2, 2),
 ('Brazil', 0, 0, 2, 2),
 ('Jordan', 0, 0, 2, 2),
 ('South Korea', 0, 2, 0, 2),
 ('Portugal', 0, 1, 1, 2),
 ('Chile', 0, 0, 2, 2),
 ('Australia', 0, 1, 1, 2),
 ('Ghana', 1, 0, 1, 2),
 ('NA', 0, 0, 0, 2),
 ('', 0, 0, 1, 2),
 ('Mexico', 1, 0, 0, 1),
 ('Lebanon', 0, 0, 1, 1),
 ('Greece', 0, 1, 0, 1),
 ('Croatia', 0, 0, 1, 1),
 ('Norway', 0, 0, 1, 1),
 ('Saudi Arabia', 0, 1, 0, 1),
 ('Singapore', 1, 0, 0, 1),
 ('Denmark', 0, 0, 1, 1),
 ('Zimbabwe', 0, 0, 1, 1),
 ('Malaysia', 0, 0, 1, 1),
 ('Colombia', 0, 0, 1, 1),
 ('Kuwait', 0, 1, 0, 1),
 ('Czech Republic', 0, 0, 1, 1),
 ('Ireland', 0, 0, 1, 1),
 ('South Africa', 0, 0, 1, 1),
 ('Pakistan', 0, 0, 1, 1),
 ('Bangladesh', 0, 0, 1, 1),
 ('Oman', 1, 0, 0, 1),
 (None, 0, 0, 0, 1)]

In [90]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [98]:
%sql select * from aero_passengers

 * mysql+pymysql://mariaz:***@localhost/test
105 rows affected.

[(1, 'Alice Johnson', 34, 'Female', 'USA', 'AA123', '12A', 'Economy', datetime.datetime(2025, 6, 1, 8, 0), 'London'),
 (2, 'Mohammed Khan', 45, 'Male', 'UAE', 'EK202', '3B', 'Business', datetime.datetime(2025, 6, 2, 13, 45), 'New York'),
 (3, 'Ling Wei', 29, 'Female', 'China', 'CA985', '18C', 'Economy', datetime.datetime(2025, 6, 3, 19, 30), 'Beijing'),
 (4, 'Carlos Ruiz', 51, 'Male', 'Mexico', 'AM450', '6F', 'First', datetime.datetime(2025, 6, 4, 6, 15), 'Toronto'),
 (5, 'Ananya Patel', 27, 'Female', 'India', 'AI101', '21D', 'Economy', datetime.datetime(2025, 6, 5, 9, 0), 'Singapore'),
 (6, 'Noah Rhodes', 61, 'Male', 'France', 'LH789', '3A', 'Economy', datetime.datetime(2025, 6, 7, 7, 32), 'Sydney'),
 (7, 'Angie Henderson', 19, 'Male', 'Japan', 'LH789', '15D', 'First', datetime.datetime(2025, 6, 9, 0, 48), 'Beijing'),
 (8, 'Daniel Wagner', 62, 'Female', 'UK', 'AI101', '10B', 'Business', datetime.datetime(2025, 6, 4, 2, 24), 'New York'),
 (9, 'Cristian Santos', 40, 'Female', 'France', 'AI101', '3F', 'Business', datetime.datetime(2025, 6, 18, 3, 59), 'Frankfurt'),
 (10, 'Connie Lawrence', 23, 'Female', 'France', 'BA256', '37B', 'First', datetime.datetime(2025, 6, 3, 1, 42), 'Toronto'),
 (11, 'Priya Ramesh', 22, 'Female', 'India', 'AI890', '15A', 'Economy', datetime.datetime(2025, 6, 11, 5, 50), 'Dubai'),
 (12, 'Oluwaseun Adewale', 40, 'Male', 'Nigeria', 'ET701', '6B', 'First', datetime.datetime(2025, 6, 12, 12, 10), 'Johannesburg'),
 (13, 'Anna Kowalska', 30, 'Female', 'Poland', 'LO223', '10C', 'Economy', datetime.datetime(2025, 6, 13, 11, 30), 'Madrid'),
 (14, 'Lucas Martinez', 28, 'Male', 'Argentina', 'AR444', '3C', 'Business', datetime.datetime(2025, 6, 14, 9, 0), 'Miami'),
 (15, 'Nadia Petrova', 33, 'Female', 'Russia', 'SU605', '5E', 'First', datetime.datetime(2025, 6, 15, 17, 20), 'Istanbul'),
 (16, 'Takashi Yamamoto', 41, 'Male', 'Japan', 'JL800', '11A', 'Economy', datetime.datetime(2025, 6, 16, 8, 45), 'Seoul'),
 (17, 'Emily Brown', 25, 'Female', 'Canada', 'AC125', '16B', 'Economy', datetime.datetime(2025, 6, 17, 19, 10), 'Chicago'),
 (18, 'Zhang Li', 37, 'Male', 'China', 'MU588', '8C', 'Business', datetime.datetime(2025, 6, 18, 7, 0), 'San Francisco'),
 (19, 'Isabella Rossi', 29, 'Female', 'Italy', 'AZ407', '21F', 'Economy', datetime.datetime(2025, 6, 19, 12, 15), 'Barcelona'),
 (20, 'Ahmed El-Sayed', 50, 'Male', 'Egypt', 'MS985', '4D', 'First', datetime.datetime(2025, 6, 20, 3, 30), 'Doha'),
 (21, 'Yara Haddad', 34, 'Female', 'Lebanon', 'ME432', '19C', 'Economy', datetime.datetime(2025, 6, 21, 6, 45), 'Vienna'),
 (22, 'George Papadopoulos', 39, 'Male', 'Greece', 'OA199', '13E', 'Business', datetime.datetime(2025, 6, 22, 15, 20), 'Amsterdam'),
 (23, 'Sofia Svensson', 27, 'Female', 'Sweden', 'SK222', '10A', 'Economy', datetime.datetime(2025, 6, 23, 17, 50), 'Copenhagen'),
 (24, 'Igor Novak', 31, 'Male', 'Croatia', 'OU330', '22B', 'Economy', datetime.datetime(2025, 6, 24, 5, 40), 'Brussels'),
 (25, 'Maria Gonzalez', 36, 'Female', 'Spain', 'IB204', '6C', 'Business', datetime.datetime(2025, 6, 25, 21, 0), 'Zurich'),
 (26, 'Daniel Berg', 43, 'Male', 'Norway', 'DY101', '12E', 'Economy', datetime.datetime(2025, 6, 26, 8, 0), 'Stockholm'),
 (27, 'Mei Chen', 24, 'Female', 'Taiwan', 'BR711', '18D', 'Economy', datetime.datetime(2025, 6, 27, 11, 25), 'Bangkok'),
 (28, 'Omar Farouk', 48, 'Male', 'Saudi Arabia', 'SV402', '7B', 'Business', datetime.datetime(2025, 6, 28, 13, 35), 'Jakarta'),
 (29, 'Tatiana Ivanova', 32, 'Female', 'Russia', 'SU712', '5A', 'First', datetime.datetime(2025, 6, 29, 9, 55), 'Cairo'),
 (30, 'William Davis', 29, 'Male', 'USA', 'DL330', '14D', 'Economy', datetime.datetime(2025, 6, 30, 7, 40), 'Lisbon'),
 (31, 'Helena Kruger', 35, 'Female', 'Germany', 'LH509', '3A', 'Business', datetime.datetime(2025, 7, 1, 10, 30), 'Prague'),
 (32, 'Luis Pereira', 44, 'Male', 'Brazil', 'JJ709', '9C', 'Economy', datetime.datetime(2025, 7, 2, 6, 20), 'Panama City'),
 (33, 'Noor Abbas', 28, 'Female', 'Jordan', 'RJ115', '15F', 'Economy', datetime.datetime(2025, 7, 3, 18, 0), 'Budapest'),
 (34, 'Jacob Lee', 33, 'Male', 'Singapore', 'SQ003', '2D', 'First', datetime.datetime(2025, 7, 4, 12, 45), 'Manila'),
 (35, 'Chloe Martin', 30, 'Female', 'France', 'AF430', '11C', 'Economy', datetime.datetime(2025, 7, 5, 16, 10), 'Vienna'),
 (36, 'Fatima Al Mansoori', 26, 'Female', 'UAE', 'EY315', '14B', 'Economy', datetime.datetime(2025, 7, 6, 9, 0), 'Oslo'),
 (37, 'Henry Thompson', 46, 'Male', 'UK', 'BA225', '7D', 'Business', datetime.datetime(2025, 7, 7, 11, 15), 'Geneva'),
 (38, 'Min-Jun Park', 38, 'Male', 'South Korea', 'KE120', '8E', 'Business', datetime.datetime(2025, 7, 8, 4, 55), 'Rome'),
 (39, 'Natalie Schmidt', 30, 'Female', 'Germany', 'LH234', '21A', 'Economy', datetime.datetime(2025, 7, 9, 15, 40), 'Reykjavik'),
 (40, 'Samuel Johnson', 42, 'Male', 'USA', 'UA560', '10D', 'Economy', datetime.datetime(2025, 7, 10, 17, 30), 'Mexico City'),
 (41, 'Aiko Tanaka', 33, 'Female', 'Japan', 'NH123', '5B', 'Business', datetime.datetime(2025, 7, 11, 13, 0), 'Taipei'),
 (42, 'Ali Reza', 45, 'Male', 'Iran', 'IR305', '3C', 'First', datetime.datetime(2025, 7, 12, 7, 10), 'Istanbul'),
 (43, 'Laura Jensen', 28, 'Female', 'Denmark', 'SK310', '22D', 'Economy', datetime.datetime(2025, 7, 13, 10, 20), 'Warsaw'),
 (44, 'Peter Ndlovu', 50, 'Male', 'Zimbabwe', 'KQ487', '19F', 'Economy', datetime.datetime(2025, 7, 14, 6, 35), 'Cape Town'),
 (45, 'Jasmine Ng', 31, 'Female', 'Malaysia', 'MH881', '12C', 'Economy', datetime.datetime(2025, 7, 15, 14, 50), 'Seoul'),
 (46, 'Victor Almeida', 39, 'Male', 'Portugal', 'TP208', '6A', 'Business', datetime.datetime(2025, 7, 16, 16, 25), 'Hamburg'),
 (47, 'Lucia Romano', 29, 'Female', 'Italy', 'AZ102', '17E', 'Economy', datetime.datetime(2025, 7, 17, 18, 40), 'Brussels'),
 (48, 'Jorge Castillo', 47, 'Male', 'Chile', 'LA721', '9F', 'Economy', datetime.datetime(2025, 7, 18, 8, 55), 'Havana'),
 (49, 'Anastasia Petrova', 34, 'Female', 'Russia', 'SU806', '11D', 'Economy', datetime.datetime(2025, 7, 19, 12, 35), 'Moscow'),
 (50, 'David Kim', 36, 'Male', 'USA', 'DL678', '2A', 'First', datetime.datetime(2025, 7, 20, 9, 45), 'Sydney'),
 (51, 'Emma Wilson', 27, 'Female', 'Australia', 'QF112', '20B', 'Economy', datetime.datetime(2025, 7, 21, 19, 0), 'Wellington'),
 (52, 'Rajesh Kumar', 44, 'Male', 'India', 'AI202', '13C', 'Business', datetime.datetime(2025, 7, 22, 5, 20), 'Berlin'),
 (53, 'Hannah Müller', 31, 'Female', 'Germany', 'LH404', '15E', 'Economy', datetime.datetime(2025, 7, 23, 17, 10), 'Madrid'),
 (54, 'Andres Vega', 40, 'Male', 'Colombia', 'AV155', '18A', 'Economy', datetime.datetime(2025, 7, 24, 20, 30), 'Quito'),
 (55, 'Noura Al Sabah', 25, 'Female', 'Kuwait', 'KU718', '4F', 'Business', datetime.datetime(2025, 7, 25, 11, 5), 'Casablanca'),
 (56, 'Marcus Lindberg', 41, 'Male', 'Sweden', 'SK876', '16C', 'Economy', datetime.datetime(2025, 7, 26, 7, 30), 'Prague'),
 (57, 'Isabella Costa', 35, 'Female', 'Brazil', 'JJ210', '14A', 'Economy', datetime.datetime(2025, 7, 27, 15, 20), 'Montevideo'),
 (58, 'Zhang Wei', 32, 'Male', 'China', 'CA750', '22F', 'Economy', datetime.datetime(2025, 7, 28, 10, 15), 'Bangkok'),
 (59, 'Sofia Ivanova', 29, 'Female', 'Russia', 'SU915', '6B', 'Business', datetime.datetime(2025, 7, 29, 13, 40), 'Athens'),
 (60, 'George Brown', 37, 'Male', 'USA', 'UA112', '5C', 'Business', datetime.datetime(2025, 7, 30, 8, 0), 'Paris'),
 (61, 'Chiara Bianchi', 27, 'Female', 'Italy', 'AZ321', '20E', 'Economy', datetime.datetime(2025, 8, 1, 14, 0), 'Amsterdam'),
 (62, 'Kofi Mensah', 48, 'Male', 'Ghana', 'ET903', '9D', 'Economy', datetime.datetime(2025, 8, 2, 6, 45), 'Addis Ababa'),
 (63, 'Yuki Nakamura', 36, 'Female', 'Japan', 'JL710', '18B', 'Economy', datetime.datetime(2025, 8, 3, 19, 50), 'Hong Kong'),
 (64, 'Tomáš Novák', 39, 'Male', 'Czech Republic', 'OK612', '11A', 'Economy', datetime.datetime(2025, 8, 4, 9, 30), 'Zurich'),
 (65, 'Amira Hassan', 31, 'Female', 'Egypt', 'MS502', '7A', 'Business', datetime.datetime(2025, 8, 5, 12, 10), 'Cairo'),
 (66, 'Daniel O’Connor', 34, 'Male', 'Ireland', 'EI234', '19E', 'Economy', datetime.datetime(2025, 8, 6, 17, 30), 'Birmingham'),
 (67, 'Eva López', 30, 'Female', 'Spain', 'IB678', '8D', 'Business', datetime.datetime(2025, 8, 7, 16, 15), 'Lisbon'),
 (68, 'Hassan Jafari', 43, 'Male', 'Iran', 'IR732', '3F', 'First', datetime.datetime(2025, 8, 8, 4, 55), 'Baku'),
 (69, 'Marta Kowalska', 28, 'Female', 'Poland', 'LO150', '17C', 'Economy', datetime.datetime(2025, 8, 9, 11, 25), 'Stockholm'),
 (70, 'Trevor Smith', 49, 'Male', 'Canada', 'AC431', '13B', 'Economy', datetime.datetime(2025, 8, 10, 15, 10), 'Denver'),
 (71, 'Thandi Dlamini', 33, 'Female', 'South Africa', 'SA303', '10F', 'Economy', datetime.datetime(2025, 8, 11, 8, 30), 'Lusaka'),
 (72, 'Aliyah Noor', 29, 'Female', 'Pakistan', 'PK789', '15D', 'Economy', datetime.datetime(2025, 8, 12, 18, 20), 'Doha'),
 (73, 'Kenji Yamamoto', 50, 'Male', 'Japan', 'NH555', '4E', 'First', datetime.datetime(2025, 8, 13, 5, 40), 'Shanghai'),
 (74, 'Isabelle Martin', 36, 'Female', 'France', 'AF990', '12D', 'Economy', datetime.datetime(2025, 8, 14, 20, 0), 'Barcelona'),
 (75, 'Leonardo Fernández', 40, 'Male', 'Argentina', 'AR222', '6C', 'Business', datetime.datetime(2025, 8, 15, 9, 5), 'Panama City'),
 (76, 'Amina Yusuf', 26, 'Female', 'Nigeria', 'KL900', '22B', 'Economy', datetime.datetime(2025, 8, 16, 11, 30), 'Oslo'),
 (77, 'Björn Andersson', 44, 'Male', 'Sweden', 'SK705', '8C', 'Business', datetime.datetime(2025, 8, 17, 7, 20), 'Reykjavik'),
 (78, 'Lina Haddad', 31, 'Female', 'Jordan', 'RJ315', '14D', 'Economy', datetime.datetime(2025, 8, 18, 13, 0), 'Rome'),
 (79, 'Juan Perez', 39, 'Male', 'Chile', 'LA509', '19A', 'Economy', datetime.datetime(2025, 8, 19, 17, 45), 'Madrid'),
 (80, 'Emily Thompson', 29, 'Female', 'Australia', 'QF402', '6E', 'Business', datetime.datetime(2025, 8, 20, 12, 0), 'Auckland'),
 (81, 'Ahmed Said', 35, 'Male', 'Egypt', 'MS845', '11D', 'Economy', datetime.datetime(2025, 8, 21, 8, 15), 'Nairobi'),
 (82, 'Maria Gonzalez', 46, 'Female', 'Spain', 'IB602', '13C', 'Economy', datetime.datetime(2025, 8, 22, 9, 55), 'Valencia'),
 (83, 'John Smith', 52, 'Male', 'USA', 'DL780', '2A', 'First', datetime.datetime(2025, 8, 23, 6, 30), 'Chicago'),
 (84, 'Sana Rahman', 30, 'Female', 'Bangladesh', 'BG880', '17B', 'Economy', datetime.datetime(2025, 8, 24, 20, 10), 'Colombo'),
 (85, 'Robert Lee', 38, 'Male', 'South Korea', 'KE234', '5D', 'Business', datetime.datetime(2025, 8, 25, 10, 40), 'Seoul'),
 (86, 'Emma Dubois', 27, 'Female', 'France', 'AF733', '15A', 'Economy', datetime.datetime(2025, 8, 26, 14, 0), 'Brussels'),
 (87, 'Ivan Petrov', 40, 'Male', 'Russia', 'SU614', '3D', 'First', datetime.datetime(2025, 8, 27, 5, 55), 'Helsinki'),
 (88, 'Grace Kim', 34, 'Female', 'USA', 'AA654', '9F', 'Economy', datetime.datetime(2025, 8, 28, 16, 25), 'San Francisco'),
 (89, 'Omar Al-Farsi', 42, 'Male', 'Oman', 'WY411', '4A', 'First', datetime.datetime(2025, 8, 29, 7, 10), 'Muscat'),
 (90, 'Lucia Rossi', 33, 'Female', 'Italy', 'AZ843', '18D', 'Economy', datetime.datetime(2025, 8, 30, 11, 20), 'Vienna'),
 (91, 'Peter Johnson', 37, 'Male', 'UK', 'BA231', '12F', 'Economy', datetime.datetime(2025, 8, 31, 18, 0), 'Berlin'),
 (92, 'Naoko Tanaka', 29, 'Female', 'Japan', 'JL678', '16A', 'Economy', datetime.datetime(2025, 9, 1, 13, 45), 'Osaka'),
 (93, 'Ali Reza', 50, 'Male', 'Iran', 'IR701', '7C', 'Business', datetime.datetime(2025, 9, 2, 9, 0), 'Tashkent'),
 (94, 'Natalie Becker', 36, 'Female', 'Germany', 'LH765', '10B', 'Economy', datetime.datetime(2025, 9, 3, 6, 0), 'Bratislava'),
 (95, 'David Chen', 41, 'Male', 'Taiwan', 'BR112', '21C', 'Economy', datetime.datetime(2025, 9, 4, 14, 20), 'Kuala Lumpur'),
 (96, 'Yara Elmasry', 28, 'Female', 'Egypt', 'MS912', '20F', 'Economy', datetime.datetime(2025, 9, 5, 19, 30), 'Casablanca'),
 (97, 'Samuel Boateng', 43, 'Male', 'Ghana', 'ET702', '2B', 'First', datetime.datetime(2025, 9, 6, 8, 45), 'Abidjan'),
 (98, 'Carla Mendes', 32, 'Female', 'Portugal', 'TP320', '15C', 'Economy', datetime.datetime(2025, 9, 7, 10, 10), 'Geneva'),
 (99, 'Ravi Narayan', 39, 'Male', 'India', 'AI119', '13A', 'Economy', datetime.datetime(2025, 9, 8, 12, 50), 'Kuwait'),
 (100, 'Sophie Müller', 31, 'Female', 'Germany', 'LH544', '8A', 'Business', datetime.datetime(2025, 9, 9, 7, 15), 'Cape Town'),
 (111, 'Test User', None, '', 'NA', None, '', 'NA', None, ''),
 (112, 'Test User1', None, 'NA', '', '', None, 'Economy', None, 'NA'),
 (113, 'Test User2', 0, '', 'NA', None, '', None, None, ''),
 (114, 'Test User3', None, None, None, 'NA', 'NA', '', None, ''),
 (115, 'Test User4', None, '', '', '', '', 'NA', None, None)]

In [118]:
%sql select * from aero_passengers
result=%sql select * from aero_passengers
df =result.DataFrame()
df.head

 * mysql+pymysql://mariaz:***@localhost/test
105 rows affected.
 * mysql+pymysql://mariaz:***@localhost/test
105 rows affected.

<bound method NDFrame.head of      passenger_id           name   age  gender nationality flight_number  \
0               1  Alice Johnson  34.0  Female         USA         AA123
1               2  Mohammed Khan  45.0    Male         UAE         EK202
2               3       Ling Wei  29.0  Female       China         CA985
3               4    Carlos Ruiz  51.0    Male      Mexico         AM450
4               5   Ananya Patel  27.0  Female       India         AI101
..            ...            ...   ...     ...         ...           ...
100           111      Test User   NaN                  NA          None
101           112     Test User1   NaN      NA
102           113     Test User2   0.0                  NA          None
103           114     Test User3   NaN    None        None            NA
104           115     Test User4   NaN

    seat_number travel_class      departure_time destination
0           12A      Economy 2025-06-01 08:00:00      London
1            3B     Business 2025-06-02 13:45:00    New York
2           18C      Economy 2025-06-03 19:30:00     Beijing
3            6F        First 2025-06-04 06:15:00     Toronto
4           21D      Economy 2025-06-05 09:00:00   Singapore
..          ...          ...                 ...         ...
100                       NA                 NaT
101        None      Economy                 NaT          NA
102                     None                 NaT
103          NA                              NaT
104                       NA                 NaT        None

[105 rows x 10 columns]>

In [122]:
df.fillna

<bound method NDFrame.fillna of      passenger_id           name   age  gender nationality flight_number  \
0               1  Alice Johnson  34.0  Female         USA         AA123
1               2  Mohammed Khan  45.0    Male         UAE         EK202
2               3       Ling Wei  29.0  Female       China         CA985
3               4    Carlos Ruiz  51.0    Male      Mexico         AM450
4               5   Ananya Patel  27.0  Female       India         AI101
..            ...            ...   ...     ...         ...           ...
100           111      Test User   NaN                  NA          None
101           112     Test User1   NaN      NA
102           113     Test User2   0.0                  NA          None
103           114     Test User3   NaN    None        None            NA
104           115     Test User4   NaN

    seat_number travel_class      departure_time destination
0           12A      Economy 2025-06-01 08:00:00      London
1            3B     Business 2025-06-02 13:45:00    New York
2           18C      Economy 2025-06-03 19:30:00     Beijing
3            6F        First 2025-06-04 06:15:00     Toronto
4           21D      Economy 2025-06-05 09:00:00   Singapore
..          ...          ...                 ...         ...
100                       NA                 NaT
101        None      Economy                 NaT          NA
102                     None                 NaT
103          NA                              NaT
104                       NA                 NaT        None

[105 rows x 10 columns]>

In [124]:
df.drop_duplicates()

,passenger_id,name,age,gender,nationality,flight_number,seat_number,travel_class,departure_time,destination
0,1,Alice Johnson,34.0,Female,USA,AA123,12A,Economy,2025-06-01 08:00:00,London
1,2,Mohammed Khan,45.0,Male,UAE,EK202,3B,Business,2025-06-02 13:45:00,New York
2,3,Ling Wei,29.0,Female,China,CA985,18C,Economy,2025-06-03 19:30:00,Beijing
3,4,Carlos Ruiz,51.0,Male,Mexico,AM450,6F,First,2025-06-04 06:15:00,Toronto
4,5,Ananya Patel,27.0,Female,India,AI101,21D,Economy,2025-06-05 09:00:00,Singapore
...,...,...,...,...,...,...,...,...,...,...
100,111,Test User,NaN,,NA,None,,NA,NaT,
101,112,Test User1,NaN,NA,,,None,Economy,NaT,NA
102,113,Test User2,0.0,,NA,None,,None,NaT,
103,114,Test User3,NaN,None,None,NA,NA,,NaT,
104,115,Test User4,NaN,,,,,NA,NaT,None

In [136]:
df[df['age']<30]

,passenger_id,name,age,gender,nationality,flight_number,seat_number,travel_class,departure_time,destination
2,3,Ling Wei,29.0,Female,China,CA985,18C,Economy,2025-06-03 19:30:00,Beijing
4,5,Ananya Patel,27.0,Female,India,AI101,21D,Economy,2025-06-05 09:00:00,Singapore
6,7,Angie Henderson,19.0,Male,Japan,LH789,15D,First,2025-06-09 00:48:00,Beijing
9,10,Connie Lawrence,23.0,Female,France,BA256,37B,First,2025-06-03 01:42:00,Toronto
10,11,Priya Ramesh,22.0,Female,India,AI890,15A,Economy,2025-06-11 05:50:00,Dubai
13,14,Lucas Martinez,28.0,Male,Argentina,AR444,3C,Business,2025-06-14 09:00:00,Miami
16,17,Emily Brown,25.0,Female,Canada,AC125,16B,Economy,2025-06-17 19:10:00,Chicago
18,19,Isabella Rossi,29.0,Female,Italy,AZ407,21F,Economy,2025-06-19 12:15:00,Barcelona
22,23,Sofia Svensson,27.0,Female,Sweden,SK222,10A,Economy,2025-06-23 17:50:00,Copenhagen
26,27,Mei Chen,24.0,Female,Taiwan,BR711,18D,Economy,2025-06-27 11:25:00,Bangkok
29,30,William Davis,29.0,Male,USA,DL330,14D,Economy,2025-06-30 07:40:00,Lisbon
32,33,Noor Abbas,28.0,Female,Jordan,RJ115,15F,Economy,2025-07-03 18:00:00,Budapest
35,36,Fatima Al Mansoori,26.0,Female,UAE,EY315,14B,Economy,2025-07-06 09:00:00,Oslo
42,43,Laura Jensen,28.0,Female,Denmark,SK310,22D,Economy,2025-07-13 10:20:00,Warsaw
46,47,Lucia Romano,29.0,Female,Italy,AZ102,17E,Economy,2025-07-17 18:40:00,Brussels
50,51,Emma Wilson,27.0,Female,Australia,QF112,20B,Economy,2025-07-21 19:00:00,Wellington
54,55,Noura Al Sabah,25.0,Female,Kuwait,KU718,4F,Business,2025-07-25 11:05:00,Casablanca
58,59,Sofia Ivanova,29.0,Female,Russia,SU915,6B,Business,2025-07-29 13:40:00,Athens
60,61,Chiara Bianchi,27.0,Female,Italy,AZ321,20E,Economy,2025-08-01 14:00:00,Amsterdam
68,69,Marta Kowalska,28.0,Female,Poland,LO150,17C,Economy,2025-08-09 11:25:00,Stockholm
71,72,Aliyah Noor,29.0,Female,Pakistan,PK789,15D,Economy,2025-08-12 18:20:00,Doha
75,76,Amina Yusuf,26.0,Female,Nigeria,KL900,22B,Economy,2025-08-16 11:30:00,Oslo
79,80,Emily Thompson,29.0,Female,Australia,QF402,6E,Business,2025-08-20 12:00:00,Auckland
85,86,Emma Dubois,27.0,Female,France,AF733,15A,Economy,2025-08-26 14:00:00,Brussels
91,92,Naoko Tanaka,29.0,Female,Japan,JL678,16A,Economy,2025-09-01 13:45:00,Osaka
95,96,Yara Elmasry,28.0,Female,Egypt,MS912,20F,Economy,2025-09-05 19:30:00,Casablanca
102,113,Test User2,0.0,,NA,None,,None,NaT,

In [140]:
df[df['nationality']=='USA']

,passenger_id,name,age,gender,nationality,flight_number,seat_number,travel_class,departure_time,destination
0,1,Alice Johnson,34.0,Female,USA,AA123,12A,Economy,2025-06-01 08:00:00,London
29,30,William Davis,29.0,Male,USA,DL330,14D,Economy,2025-06-30 07:40:00,Lisbon
39,40,Samuel Johnson,42.0,Male,USA,UA560,10D,Economy,2025-07-10 17:30:00,Mexico City
49,50,David Kim,36.0,Male,USA,DL678,2A,First,2025-07-20 09:45:00,Sydney
59,60,George Brown,37.0,Male,USA,UA112,5C,Business,2025-07-30 08:00:00,Paris
82,83,John Smith,52.0,Male,USA,DL780,2A,First,2025-08-23 06:30:00,Chicago
87,88,Grace Kim,34.0,Female,USA,AA654,9F,Economy,2025-08-28 16:25:00,San Francisco

In [ ]:
# You should use bitwise operators (& for AND, | for OR) and wrap each condition in parentheses#

In [150]:
df[(df['age']<30) & (df['nationality']=='USA')]

,passenger_id,name,age,gender,nationality,flight_number,seat_number,travel_class,departure_time,destination
29,30,William Davis,29.0,Male,USA,DL330,14D,Economy,2025-06-30 07:40:00,Lisbon

In [ ]:
#-------------------------------------------------#
General Rule for Pandas Filtering:
	•	Always wrap each condition in parentheses
	•	Use:
	•	& for AND
	•	| for OR
	•	~ for NOT
#------------------------------------------------

In [172]:
df[(df['name']=='Mei Chen') & (df['travel_class']== 'Economy')]

,passenger_id,name,age,gender,nationality,flight_number,seat_number,travel_class,departure_time,destination
26,27,Mei Chen,24.0,Female,Taiwan,BR711,18D,Economy,2025-06-27 11:25:00,Bangkok

In [ ]:
# For selecting and filtering columns in pandas #
Intent
Correct Pandas Syntax
Select single column #For selecting single column #
df['name']
Select multiple columns # For selecting multiple columns,Please use double opening square brackets #
df[['name', 'age']]
Filter rows (age < 30) # For filtering,please use square brackets unlike tuples () #
df[df['age'] < 30]
Filter by multiple condition # For multiple conditions,please use parenthesis tuples to provide conditions #
df[(df['age'] < 30) & (df['gender'] == 'Male')]

In [186]:
df[['name','age']]

              name   age
0    Alice Johnson  34.0
1    Mohammed Khan  45.0
2         Ling Wei  29.0
3      Carlos Ruiz  51.0
4     Ananya Patel  27.0
..             ...   ...
100      Test User   NaN
101     Test User1   NaN
102     Test User2   0.0
103     Test User3   NaN
104     Test User4   NaN

[105 rows x 2 columns]

In [188]:
df['travel_class']

0       Economy
1      Business
2       Economy
3         First
4       Economy
         ...
100          NA
101     Economy
102        None
103
104          NA
Name: travel_class, Length: 105, dtype: object

In [191]:
df[df['age']<50]

,passenger_id,name,age,gender,nationality,flight_number,seat_number,travel_class,departure_time,destination
0,1,Alice Johnson,34.0,Female,USA,AA123,12A,Economy,2025-06-01 08:00:00,London
1,2,Mohammed Khan,45.0,Male,UAE,EK202,3B,Business,2025-06-02 13:45:00,New York
2,3,Ling Wei,29.0,Female,China,CA985,18C,Economy,2025-06-03 19:30:00,Beijing
4,5,Ananya Patel,27.0,Female,India,AI101,21D,Economy,2025-06-05 09:00:00,Singapore
6,7,Angie Henderson,19.0,Male,Japan,LH789,15D,First,2025-06-09 00:48:00,Beijing
...,...,...,...,...,...,...,...,...,...,...
96,97,Samuel Boateng,43.0,Male,Ghana,ET702,2B,First,2025-09-06 08:45:00,Abidjan
97,98,Carla Mendes,32.0,Female,Portugal,TP320,15C,Economy,2025-09-07 10:10:00,Geneva
98,99,Ravi Narayan,39.0,Male,India,AI119,13A,Economy,2025-09-08 12:50:00,Kuwait
99,100,Sophie Müller,31.0,Female,Germany,LH544,8A,Business,2025-09-09 07:15:00,Cape Town
102,113,Test User2,0.0,,NA,None,,None,NaT,

In [195]:
df[(df['age']<50) & (df['nationality']=='USA')] #And operator is used for comparisons of two tables #

,passenger_id,name,age,gender,nationality,flight_number,seat_number,travel_class,departure_time,destination
0,1,Alice Johnson,34.0,Female,USA,AA123,12A,Economy,2025-06-01 08:00:00,London
29,30,William Davis,29.0,Male,USA,DL330,14D,Economy,2025-06-30 07:40:00,Lisbon
39,40,Samuel Johnson,42.0,Male,USA,UA560,10D,Economy,2025-07-10 17:30:00,Mexico City
49,50,David Kim,36.0,Male,USA,DL678,2A,First,2025-07-20 09:45:00,Sydney
59,60,George Brown,37.0,Male,USA,UA112,5C,Business,2025-07-30 08:00:00,Paris
87,88,Grace Kim,34.0,Female,USA,AA654,9F,Economy,2025-08-28 16:25:00,San Francisco